.outer{
    // height:100vh;
     background-image: var(--primary);
     min-height: 100vh; 
}
.container-fluid{
    background-color:var(--primary);
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    background-color: var(--primary);
}

// a {
//     text-decoration: underline;
// }

label {
    // display: inline-block;
    width: 150px;
    // text-align: right;
}
.btn{
    // background-image: linear-gradient(45deg, #9cbfe2 0%, rgb(206, 199, 223) 100%);
    background-image: var(--primary);
    margin-top: 30px;
    color: var(--text-color);
}

h4{
    color: var(--text-color); text-align: left;
}
label{
    color:var(--text-color);
}