<div class="outer">
    <app-navbar></app-navbar>
    <div class="container mt-0">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <!-- <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/home">HOME</button> -->
                        <a class="nav-link" style="color:#964B00" routerLink="/mybookings">My Bookings </a>
                    </li>
                    <li class="nav-item active">
                        <!-- <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/facitilies">FACITILIES</button> -->
                        <a class="nav-link" href="#" style="color:#964B00" routerLink="/profiledetails">Profile
                            Details</a>
                    </li>

                    <li class="nav-item active">
                        <!-- <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/tariff">TARIFF</button> -->
                        <a class="nav-link " href="#" style="color:#964B00" routerLink="/changepassword">Change
                            Password</a>
                    </li>
                    <li class="nav-item active">
                        <!-- <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/fooditem">FOOD</button> -->
                        <a class="nav-link " href="#" style="color:#964B00" routerLink="/cancelbooking">Canceled
                            Bookings</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h4 class="mt-0 pt-2 " style="color: #964B00; text-align: left;">Update Your Details</h4>
        <div class="panel-body p-3">
            <form [formGroup]="updateForm" (ngSubmit)="updateProcess()">
                <div class="form-group pt-0 row justify-content-around">
                    <div class="col-md-4">
                        <div class="input-group mb-1">
                            <div class="input-field">
                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                <label style="color:#964B00">FirstName<span class="text-danger">*</span></label>
                                <input  formControlName="firstname" type="text" placeholder="FirstName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-1">
                            <div class="input-field">
                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                <label style="color:#964B00">LastName<span class="text-danger">*</span></label>
                                <input formControlName="lastname"  type="text" placeholder="Lastname">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group pt-0 row justify-content-around">
                    <div class="col-md-4">
                        <div class="input-group mb-1">
                            <div class="input-field">
                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                <label style="color:#964B00">Address1<span class="text-danger">*</span></label>
                                <input formControlName="address1"  type="text" placeholder="Address1">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-1">
                            <div class="input-field">
                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                <label style="color:#964B00">Address2</label>
                                <input formControlName="address2"  type="text" placeholder="Address2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group pt-0 row justify-content-around">
                    <div class="col-md-4">
                        <div class="input-group mb-1">
                            <div class="input-field">
                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                <label style="color:#964B00">City<span class="text-danger">*</span></label>
                                <input formControlName="city"  type="text" placeholder="City">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-1">
                            <div class="input-field">
                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                <label style="color:#964B00 ">State</label>
                                <input formControlName="state"  type="text" placeholder="State">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group pt-0 row justify-content-around">
                    <div class="col-md-4">
                        <div class="input-group mb-1">
                            <div class="input-field">
                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                <label style="color:#964B00">Country<span class="text-danger">*</span></label>
                                <input formControlName="country"  type="text" placeholder="Country">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-1">
                            <div class="input-field">
                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                <label style="color:#964B00">Phonenumber <span class="text-danger">*</span></label>
                                <input formControlName="phonenumber"  type="text" placeholder="Phonenumber">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group pt-0 row justify-content-around">
                    <div class="col-md-4">
                        <div class="input-group mb-1">
                            <div class="input-field">
                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                <label style="color:#964B00">Email<span class="text-danger">*</span></label>
                                <input  formControlName="email"  type="text" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-1">
                            <div class="input-field">
                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                <label style="color:#964B00">Username <span class="text-danger">*</span></label>
                                <input formControlName="username"  type="text" placeholder="Username">
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="text-center">
                    <button  type="submit" class="btn btn-light btn-elevate mr-2 " >
                        Update</button>
                      <!-- <button type="button" class="btn btn-light btn-elevate mr-2  " onclick="reset()">
                      Reset 
                    </button>-->
                   </div>  
            </form>
            
            </div>
    </div>
</div>