.outer{
    // height:100vh;
     background-image: var(--primary);
     min-height: 100vh; 
}
.container-fluid{
    background-color:var(--primary);
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    background-color: var(--primary);
}
.text-brown {
    font-weight: bold;
    font-family: Georgia, serif;
    color: var(--text-color);
  }
  .nav-link:hover{
    color: var(--hover);
    transform: scale(1.05);
    /* Slight zoom effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow */
    transition: all 0.3s ease-in-out;
  
  }

  .btn{
    // background-image: linear-gradient(45deg, #9cbfe2 0%, rgb(206, 199, 223) 100%);
    background-image: linear-gradient(45deg, #EFC96A,white);
    margin-top: 30px;
    color: #964B00;
}
label {
    // display: inline-block;
    width: 150px;
    padding: 5px;
    color:#964B00
    // text-align: right;
}

.btn-light{
    // background-image: linear-gradient(45deg, #9cbfe2 0%, rgb(206, 199, 223) 100%);
    background-image: var(--primary);
    // margin-top: 30px;
    color: var(--text-color);
}
.btn-light:hover {
    color: var(--hover);
    transform: scale(1.05);
    /* Slight zoom effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow */
    transition: all 0.3s ease-in-out;
}
h4,p{
    color: var(--text-color); 
    font-size: 30px;
}