<div class="outer">
    <app-navbar></app-navbar>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light ">
             <!-- Toggler Button for Mobile View -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Corrected ID to match the data-bs-target -->
    <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <!-- <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/home">HOME</button> -->
                        <a class="nav-link" style="color:#964B00" routerLink="/mybookings">My Bookings </a>
                    </li>
                    <li class="nav-item active">
                        <!-- <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/fooditem">FOOD</button> -->
                        <a class="nav-link " href="#" style="color:#964B00" routerLink="/cancelbooking">Canceled
                            Bookings</a>
                    </li>
                    <li class="nav-item active">
                        <!-- <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/facitilies">FACITILIES</button> -->
                        <a class="nav-link" href="#" style="color:#964B00" routerLink="/profiledetails">Profile
                            Details</a>
                    </li>
                    <li class="nav-item active">
                        <!-- <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/tariff">TARIFF</button> -->
                        <a class="nav-link " href="#" style="color:#964B00" routerLink="/changepassword">Change
                            Password</a>
                    </li>
                   

                </ul>
            </div>
        </nav>
        <div class="text-center">
            <h4>Change Password</h4>
            <p>Secure your account by updating your password regularly.</p>
          </div>
        <div class="panel-body p-3">
            <form [formGroup]="passwordForm" (ngSubmit)="passwordProcess()">
                <div class="form-group pt-0 row justify-content-around">
                    <div class="col-md-6">
                        <div class="input-group mb-1">
                            <div class="input-field  ">
                                <label >Old Password <span class="text-danger">*</span></label>
                                <input formControlName="oldpassword" type="text">
                                <small style="margin-left: 150px;"
                                    *ngIf="passwordForm.controls['oldpassword'].dirty && passwordForm.hasError('required','oldpassword')"
                                    class="text-danger form-inline  mt-0">*old password is required</small>
                                <small style="margin-left: 150px;"
                                    *ngIf="passwordForm.controls['oldpassword'].dirty && passwordForm.hasError('pattern','oldpassword')"
                                    class="text-danger form-inline  mt-0">*old password is required</small>
                            </div>
                            <div class="input-field  ">
                                <label >New Password <span class="text-danger">*</span></label>
                                <input formControlName="password" type="text">
                                <small style="margin-left: 150px;"
                                    *ngIf="passwordForm.controls['password'].dirty && passwordForm.hasError('required','password')"
                                    class="text-danger form-inline  mt-0">*password is required</small>
                                <small style="margin-left: 150px;"
                                    *ngIf="passwordForm.controls['password'].dirty && passwordForm.hasError('pattern','password')"
                                    class="text-danger form-inline  mt-0">*password is required</small>
                            </div>
                            <div class="input-field">
                                <label >Confirm Password
                                    <span class="text-danger">*</span></label>
                                <input formControlName="confirmpassword" type="text">
                                <small style="margin-left: 150px;"
                                    *ngIf="passwordForm.controls['confirmpassword'].dirty && passwordForm.hasError('required','confirmpassword')"
                                    class="text-danger form-inline  mt-0">*confirmpassword is required</small>
                                <small style="margin-left: 150px;"
                                    *ngIf="passwordForm.controls['confirmpassword'].dirty && passwordForm.hasError('pattern','confirmpassword')"
                                    class="text-danger form-inline  mt-0">*confirmpassword is required</small>
                                <small style="margin-left: 150px;" class="text-danger form-inline  mt-0"
                                    *ngIf="passwordForm.errors?.['passwordmatcherror']">Password does not match </small>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-light btn-elevate mr-2 ">
                        Change</button>

                </div>
            </form>

        </div>

    </div>
     <!-- footer -->
     <footer class="  py-1">
        
        <app-footer></app-footer>
      </footer>
</div>