<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-2">
                <!-- offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3 -->
                <div class="panel border bg-white ">
                    <div class="panel-heading">

                        <h3 class="pt-3 font-weight-bold" style="color:#964B00">
                            Forgot Password?
                        </h3>
                    </div>  
                
                    <div class="panel-body p-3">
                            <div class="description">{{description}}</div>
                        <form [formGroup]="forgotpasswordform" (ngSubmit)="changepassword()">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-envelope p-2" style="color:#964B00"></span>
                                    <!-- <label style="color:#964B00">UserName</label> -->
                                    <input formControlName="email" required type="text" placeholder="Email" >
                                    <!-- placeholder="UserName" -->
                                </div>
                            </div>
                            <div class="form-group pt-3">
                            <div class="input-field">
                                    <span class="fa fa-lock p-2" style="color:#964B00"></span>
                                    <!-- <label style="color:#964B00">Password</label> -->
                                    <input formControlName="password" [type]="type" placeholder="Password">
                                    <!-- placeholder="Password" -->
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}} " style="color:#964B00"></span>
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                        <span class="fa fa-lock p-2" style="color:#964B00"></span>
                                        <!-- <label style="color:#964B00">Password</label> -->
                                        <input formControlName="confirmpassword" [type]="type" placeholder="Confirm Password">
                                        <!-- placeholder="Password" -->
                                        <span (click)="hideShowPass()" class="fa {{eyeIcon}} " style="color:#964B00"></span>
                                    </div>
                                </div>
                            <button [disabled]=forgotpasswordform.invalid type="submit"
                                class="btn btn-outline btn-block mt-4 w-100"
                                style="color:#964B00 ;background-color: #efc96a;">Submit</button>
                            </form>
                   
               
            </div>
        </div>
    </div>
</div>