<!-- <div class="outer"> -->
    <div class="container-fluid">
        <div class="row justify-content-center ">
            <div class="col-12 text-center mt-2 mb-4">
                <img src="assets/index_logo.jpg" class="img-fluid" style="max-width: 300px; height: auto;" alt="Logo">
                <span id="text" class="d-block mt-4 text-brown" style="font-size: 25px;">Welcome to Maduraa Services</span>
            </div>
        </div>
        <div class="container d-flex justify-content-center align-items-center ">
            <div class="card form-box-style mb-5" style="width: 100%; max-width: 600px; height: 380px;">
                <div class="card-header text-center  ">
                    <h3 class="text-brown mt-2" style="font-size: 25px;">
                        Forgot Password?
                    </h3>
                </div>

                <div class="card-body  ">
                    <div class="form-group mt-3">{{description}}</div>
                    <form [formGroup]="forgotpasswordform" (ngSubmit)="changepassword()">
                        <div class="form-group pt-3">
                            <div class="input-group flex-nowrap">
                                <span class="fa fa-envelope p-2"></span>
                                <!-- <label style="color:#964B00">UserName</label> -->
                                <input formControlName="email" required type="text" placeholder="Email">
                                <!-- placeholder="UserName" -->
                            </div>
                        </div>
                        <div class="form-group pt-3">
                            <div class="input-group flex-nowrap">
                                <span class="fa fa-lock p-2"></span>
                                <input formControlName="password" [type]="type" placeholder="Password">
                                <!-- Eye Icon for Toggling -->
                                <div class="input-group-append ">
                                       
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}} mt-2 ml-2 " style="color:#964B00;cursor: pointer;">
                                    </span>
                                      </div>
                            </div>
                        </div>
                        <div class="form-group pt-3">
                            <div class="input-group flex-nowrap">
                                <span class="fa fa-lock p-2" style="color:#964B00"></span>
                                <input formControlName="confirmpassword" [type]="type" placeholder="Confirm Password">
                                <!-- Eye Icon for Toggling -->
                                 <div class="input-group-append">
                                       
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}} mt-2 " style="color:#964B00;cursor: pointer;">
                                    </span>
                                      </div>                              
                                
                            </div>
                            <small  class="text-danger d-flex justify-content-start form-inline  mt-0 my-2"
                                *ngIf="forgotpasswordform.errors?.['passwordmatcherror']"> *Password does not
                                match </small>

                        </div>
                        <button [disabled]=forgotpasswordform.invalid type="submit"
                            class="btn btn-light  mt-4  justify-content-center" style="font-size: 20px;">Submit</button>
                    </form>


                </div>
            </div>
        </div>
        <footer class="  py-1">
  
            <app-footer></app-footer>
          </footer>
    </div>
    
<!-- </div> -->