<div class="outer">
    <app-navbar></app-navbar>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-12 text-center mt-2">
                <h2  class="text-color" >Verification and Payment</h2>
            </div>
            <!-- radio button -->
            <div class="form-box-style mt-2 ">
                <h2 class="mx-3 mt-2">Your Amount to be Paid</h2>
                <div class="form-check mx-5" style="position: relative; display: inline-block;">
                    <input class="form-check-input text-middle" type="radio" name="flexRadioDefault" id="flexRadioDefault1">                    
                    <label class="form-check-label" for="flexRadioDefault1">                         
                        <img src="assets/qrcode.png" style="width:200px;height:200px; ">
                    </label>
                  </div>
                  <div class="mt-2 mb-4 text-center">
                        <button class="btn btn-light  w-20 me-2"  (click)="confirmBooking()">Click to  Payment</button>
                        <button routerLink="/bookingsummary" type="submit" class="btn btn-light btn-elevate mr-2  my-2 ">
                            Back </button>
                </div>
            </div>
           
           
        </div>
       
    </div>
     <!-- footer -->
     <footer class="  py-1">
  
        <app-footer></app-footer>
      </footer>
</div>