<div class="outer">
    <app-navbar></app-navbar>
    <div class="container mt-0">
        <div class="row ">
            <div class="col-sm-6 mt-2">
                <h2 style="color:#964B00; font-weight:bold ;">Verification and Payment</h2>
            </div>
        </div>
        <form [formGroup]="Emailcheck" style="color: #964B00;" (ngSubmit)="HandleSubmit()">
            <mat-stepper style="color: #964B00;" [linear]="isLinear" #stepper>

                <mat-step [stepControl]="Basicform">
                    <div formGroupName="EmailVerification">
                        <ng-template style="background-color: #964B00;" matStepLabel>Email Verification</ng-template>

                        <mat-form-field style="color: #964B00;width: 100%;" appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput style="color: #964B00;"  placeholder="Name" formControlName="name">
                        </mat-form-field><br>
                        <mat-form-field style="color: #964B00;width: 100%;" appearance="fill">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="Phone Number"  formControlName="phonenumber">
                        </mat-form-field><br>
                        <mat-form-field style="color: #964B00;width: 100%;" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email"   formControlName="email">
                            <!-- <a (click)="generateOTP()" style="float: right;"
                                >send otp</a> -->
                                <!-- <button mat-raised-button (click)="generateOTP(name.value,phonenumber.value,email.value)"  style='background-color: #efc96a; color:#964B00;float: right;'>sendotp</button> -->
                        </mat-form-field><br>
                        <button mat-raised-button (click)="generateOTP()"  style='background-color: #efc96a; color:#964B00;float: right;'>sendotp</button>
                        
                      
                        <br>
                        <mat-form-field  style="color: #964B00;width: 100%;"appearance="fill">
                            <mat-label>otp</mat-label>
                            <input matInput placeholder="otp" formControlName="otp">
                        </mat-form-field>
                        <div>
                            <button mat-raised-button style='background-color: #efc96a; color:#964B00;' matStepperNext (click)="verifyOTP()">Next</button>
                        </div>
                    </div>
                </mat-step>
                <mat-step [stepControl]="PaymentForm" label="Payment Information">
                    <div formGroupName="Payment">
                        <mat-label>Your Amount to be Paid</mat-label>
                        <mat-radio-group formControlName="payment" aria-label="Select payment Method"><br>
                            <mat-radio-button value="1">Netbanking</mat-radio-button><br>
                            <mat-radio-button value="2">Paytm</mat-radio-button><br>
                            <mat-radio-button value="3">GPay</mat-radio-button><br>
                            <mat-radio-button value="4">PhonePe</mat-radio-button><br>
                        </mat-radio-group>

                        <div>
                            <button mat-raised-button   style='background-color: #efc96a; color:#964B00;'matStepperPrevious>Back</button> |
                            <button mat-raised-button style='background-color: #efc96a; color:#964B00;' (click)="confirmBooking()">Click to make Payment</button>
                        </div>
                    </div>
                </mat-step>
            </mat-stepper>
        </form>
    </div>
</div>