// .outer{
//     // height:100vh;
//      background-image: linear-gradient(45deg, #efc96a,white);
// }
// .container{
//     width: 900px;
//     height: 600px;
//     text-align: center;
// }
.text-brown {
  font-weight: bold;
  font-family: Georgia, serif;
  color: var(--text-color);
}


.outer{
  // height:100vh;
   background-image: var(--primary);
   min-height: 100vh; 
}
.container-fluid{
  background-color:var(--primary);
  border-radius: 0.3rem;
  box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
  border-radius: 4px;
  background-color: var(--primary);
}

.page{
  align-items: center;
  
}
table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 300px;
  }
  th.mat-header-cell {
    text-align: left;
    max-width: 300px;
  }