<app-header></app-header>
<div class="outer">
    <div class="container ">
    <h4 class="mt-0 pt-2 " style="color: #964B00; text-align: left;">Roll</h4>
    <div style="color: #964B00; ">
        <table class="table table-bordered " style="border-color: #964B00;">
            <thead>
              <tr>
                <th scope="col" style="border-color: #964B00; text-align: left;">Roll Name</th>
                
              </tr>
            </thead>
            <tbody>
              <tr >
                <th  style="border-color: #964B00;text-align: left;">Admin</th>
                 <td style="border-color: #964B00;">
                    <i class="fa fa-fw fa-edit" style="color:#964B00;" ></i>
                  
                 </td>
               
                <td style="border-color: #964B00;">
                    <i class="fa fa-trash" style="color:#964B00;" ></i>
                </td> 
               
              </tr>
              <tr>
                <th scope="row" style="border-color: #964B00;text-align: left;">Customer</th>
                <td style="border-color: #964B00;">
                    <i class="fa fa-fw fa-edit" style="color:#964B00;" ></i>
                </td>
                <td style="border-color: #964B00;">
                    <i class="fa fa-trash" style="color:#964B00;" ></i>
                </td>
               
              </tr>
              <tr>
                 <th scope="row" style="border-color: #964B00;text-align: left;">Front Office Executive</th>
                <td style="border-color: #964B00;">
                    <i class="fa fa-fw fa-edit" style="color:#964B00;" ></i>
                </td> 
                <td style="border-color: #964B00;">
                    <i class="fa fa-trash" style="color:#964B00;" ></i>
                </td>
              </tr>
            </tbody>
          </table>
          
    
    </div>
    
          
    
    </div>
    
    </div>
    