.outer{
    // height:100vh;
     background-image: linear-gradient(45deg, #efc96a,white);
}
.container{
    background-color: #ffff;
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    width: 150%;
    height:100%;
    background-image: linear-gradient(45deg, #efc96a,white);
}
.btn{
    // background-image: linear-gradient(45deg, #9cbfe2 0%, rgb(206, 199, 223) 100%);
    background-image: linear-gradient(45deg, #EFC96A,white);
    margin-top: 30px;
    color: #964B00;
}