<app-header></app-header>
<div class="outer">
    <div class="container">
        <div class="card">
            <div class="text-center">
                <h1>BOOKING</h1>
    <form [formGroup]="bookingForm" (ngSubmit)="bookProcess()">
                <div class="row">
                        <div class="col-lg-3">
                            <label>First Name</label>
                        </div>
                        <div class="col-lg-3">
                            <input formControlName="firstName"type="text" name="firstName" placeholder="FirstName" >
                        </div>
                        <div class="col-lg-3">
                            <label>LastName</label>
                        </div>
                        <div class="col-lg-3">
                            <input formControlName="lastName" type="text" name="lastName" placeholder="LastName" >
                        </div>
    
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Email</label>
                    </div>
                    <div class="col-lg-3">
                        <input formControlName="email" type="email" name="email" placeholder="Email" >
                    </div>
                    <div class="col-lg-3">
                        <label>Phone Number</label>
                    </div>
                    <div class="col-lg-3">
                        <input formControlName="phoneNumber"type="text" name="pnumber" placeholder="Phone Number" >
                    </div>
    
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label>Address1</label>
                </div>
                <div class="col-lg-3">
                    <input formControlName="address1" type="text" name="address1" placeholder="Address 1" >
                </div>
                <div class="col-lg-3">
                    <label>Address2</label>
                </div>
                <div class="col-lg-3">
                    <input formControlName="address2" type="text" name="address2" placeholder="Address2" >
                </div>
    
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label>City</label>
            </div>
            <div class="col-lg-3">
                <input formControlName="city" type="text" name="city" placeholder="City" >
            </div>
            <div class="col-lg-3">
                <label>State</label>
            </div>
            <div class="col-lg-3">
                <input  formControlName="state" type="text" name="state" placeholder="State" >
            </div>
    
    </div>
    <div class="row">
        <div class="col-lg-3">
            <label>Country</label>
        </div>
        <div class="col-lg-3">
            <input  formControlName="country" type="text" name="city" placeholder="Country" >
        </div>
        <div class="col-lg-3">
            <label>PinCode</label>
        </div>
        <div class="col-lg-3">
            <input formControlName="pincode" type="text" name="pincode" placeholder="PinCode" >
        </div>
    
    </div>
    <div class="row">
        <div class="col-lg-3">
            <label>From</label>
        </div>
        <div class="col-lg-3">
            <input formControlName="checkIn" type="datetime-local" name="city" placeholder="From" 
           
            >
        </div>
        <div class="col-lg-3">
            <label>To</label>
        </div>
        <div class="col-lg-3">
            <input  formControlName="checkOut" type="datetime" name="fromto" placeholder="To" 
            
            [(ngModel)]="maxDate"
            >
        </div>
    
    </div>
    <div class="row">
        <div class="col-lg-3">
            <label>Adults</label>
        </div>
        <div class="col-lg-3">
            <input formControlName="adult" type="number" name="adults" placeholder="Adults" >
        </div>
        <div class="col-lg-3">
            <label>Children</label>
        </div>
        <div class="col-lg-3">
            <input formControlName="child" type="number" name="children" placeholder="Children " >
        </div>
    
    </div>
    <div class="row">
        <div class="col-lg-3">
            <label>Room Type</label>
        </div>
        <div class="col-lg-3">
            <select  formControlName="roomType" id="room_type_id" name="room_type_id"  errordiv="room_type_id1" 
            message="Select Room Type" class="roomtype" >	
                <option value="12"  >Service Apartment</option>
             <option value="7"  >Business Center</option>
        </select>
        </div>
        </div>
    
    
                <button [disabled]=bookingForm.invalid  type="submit" class="btn btn-light btn-elevate mr-2 margin-left" >
                      Save</button>
                    <button type="button" class="btn btn-light btn-elevate mr-2 margin-left " onclick="reset()">
                    Reset
                  </button>
                </form>
                
        </div>
    
    
    </div>
    </div>
    

</div>

