.outer{
    // height:100vh;
     background-image: linear-gradient(45deg, #efc96a,white);
}
container{
    background-color: #ffff;
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    width: 100%;
    height:100%;
    background-image: linear-gradient(45deg, #EFC96A,white);
}
//css for nav bar
.navbar-light {
    background-color: #EFC96A;
    width:100%;
    box-sizing: border-box;
}
// css for welcome to maduraservices
#text{
    color:#964B00;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
// css for navbar button
#btn{
    color:#964B00;
     background-color:#efc96a;
    //  font-weight: bold
}
// .nav-item {
//     color:#964B00;
//      background-color:#efc96a;
// }
// #FBC02D
.btn1{
    margin-left: 90px;
    background-color:#efc96a ;
    color:#964B00;
}
#icon{
    background-image: linear-gradient(45deg, #efc96a,white);
}
.dropdown-item{
    color: #964B00;
}
#navbarDropdown{
    color:#964B00
}