@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import '~bootstrap/dist/css/bootstrap.min.css';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --primary:linear-gradient(45deg, #efc96a, white);
    --secondary: #efc96a;
    --text-color: #964B00;
    --hover: #f47a08;
    --background:#fce2a5;
    --panel:linear-gradient(to top, #efc96a, white);
  }
  