.outer{
    // height:100vh;
     background-image: var(--primary);
     min-height: 100vh; /* Ensures full screen height */
}
.container-fluid{
    background-color:var(--primary);
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    background-color: var(--primary);
}


th, td {
    text-align: center;
    vertical-align: middle;
}

tr{
    color: var(--text-color);
}
button{
    color:var(--secondary); background-color:var(--text-color);width:100%
}


// 