<div class="outer">

    <app-navbar></app-navbar>
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="header mt-2 mb-4">
                <h2>Choose your desired Room </h2>                
            </div>
            <div class="tbl-container pt-2">
            <div class="table-responsive ">
                <table>
                    <thead>
                        <tr >
                            <th class="align-middle" rowspan="2">Room Choices</th>
                            <th class="align-middle" rowspan="2">No.of Guests</th>
                            <th class="align-middle" colspan="3">Flat Type</th>
                            <th class="align-middle" rowspan="2">No.of Rooms</th>                            
                            <th class="align-middle" rowspan="2">Extra Bed</th>
                            <th class="align-middle" rowspan="2">Price</th>
                            <th class="align-middle" rowspan="2">Total Amount</th>
                            <th class="align-middle" rowspan="2">Select</th>
                        </tr>
                        <tr >
    
                            <th>1BHK</th>
                            <th>2BHK</th>
                            <th>3BHK</th>
    
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let i of roomData let index = index;">
                            <td>{{i.optiontype=="R1"?"Our Recommendation":"Your Choice"}}</td>
                            <td>{{i.adult}}</td>                            
                            <td>{{i.bhktype1}}</td>
                            <td>{{i.bhktype2}}</td>
                            <td>{{i.bhktype3}}</td>
                            <td>{{i.noofrooms}}</td>
                            <td>{{i.bed}}</td>
                            <td>&#8377;&nbsp;{{i.Price}}</td>
                            <td>&#8377;&nbsp; {{i.totalamount}}</td>
                            <td> <button (click)="sendbookeddata(i)"
                                     class="btn btn-outline"><i
                                        class="fa fa-arrow-right"></i></button>&nbsp;&nbsp;</td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
                <div class="text-center  my-3 ">
                    <button routerLink="/home" type="submit" class="btn btn-light  mr-2 mb-2 ">
                        Back </button>

                </div>
            </div>
    
        </div>
    </div>
    <!-- footer -->
    <footer class="  py-1">
  
        <app-footer></app-footer>
      </footer>
</div>