<!-- <div class="outer"> -->
    <div class="container-fluid">
        <div class="row justify-content-center ">
            <div class="col-12 text-center mt-2 mb-5">
                <img src="assets/index_logo.jpg" class="img-fluid" style="max-width: 300px; height: auto;" alt="Logo">
                <span id="text" class="d-block mt-5 text-brown" style="font-size: 25px;">Welcome to Maduraa Services</span>
            </div>
        </div>
        <div class="container d-flex justify-content-center align-items-center ">
            <div class="card form-box-style mb-5" style="width: 100%; max-width: 600px; height: 340px;">
                <div class="card-header text-center  ">
                    <h3 class="text-brown mt-2" style="font-size: 25px;">
                        Forgot Password?
                    </h3>
                </div>
                <div class="card-body  ">
                    <div class="form-group mt-2">
                        <div class="description">{{description}}</div>
                    </div>
                    <form [formGroup]="emailverificationform" (ngSubmit)="verifyemail()">
                        <div class="form-group pt-3 mt-3">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text " id="addon-wrapping"><i class="fa fa-envelope"></i></span>
                                <input type="text" formControlName="email" class="form-control"
                                    placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping">
                                    
                            </div>
                            <small
                            *ngIf="emailverificationform.controls['email'].dirty && emailverificationform.hasError('required','email')"
                            class="text-danger mt-1 text-start d-block">
                            *Email is required
                        </small>
                        </div>
                        <div class="d-flex justify-content-center align-items-center mt-5">
                        <button [disabled]=emailverificationform.invalid type="submit"
                        class="btn btn-light" style="font-size: 20px;">Send OTP</button>
                        </div>
                            <!-- <div class="d-flex justify-content-center align-items-center mt-2">
                                <button [disabled]="loginForm.invalid" type="submit" class="btn btn-block"
                                        style="color: #964B00; background-color: #efc96a;">
                                    Login
                                </button>
                            </div> -->
                    </form>
                   
                </div>
            </div>
        </div>
        <footer class="  py-1">
  
            <app-footer></app-footer>
          </footer>
    </div>
    
<!-- </div> -->