<div class="outer">
    <app-navbar></app-navbar>
    <div class="container mt-0">
        <div class="row ">
            <div class="col-sm-6 mt-2">
                <h2 style="color:#964B00; font-weight:bold ;">Room Availability</h2>
            </div>
        </div>
        <div class="container tbl-container">
            <div class="row tbl-fixed">

            <table class="table table-bordered">
                <thead >
                    <tr>
                        <th  style="border-color: #964B00;" scope="col">RoomNo</th>
                        <th  style="border-color: #964B00;" scope="col">AccommodotionType</th>
                        <th  style="border-color: #964B00;" scope="col">Guests</th>
                        <!-- <th style="border-color: #964B00;" scope="col">Family</th> -->
                        <th  style="border-color: #964B00;" scope="col">Tariff</th>
                        <!-- <th style="border-color: #964B00;" scope="col">Roomsize</th> -->
                        <th  style="border-color: #964B00;" scope="col">SpecialCharges</th>
                        <th  style="border-color: #964B00;" scope="col">SelectRooms</th>
                        <th  style="border-color: #964B00;" scope="col">Confirmation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="color: #964B00;" *ngFor="let i of roomData">
                        <th class="align-middle" style="border-color: #964B00;" scope="row">{{i.roomid}}</th>
                        <td class="align-middle " style="border-color: #964B00;">{{i.roomname}}
                    <tr scope="col" style="border-color: #964B00;">Reccommended for 2 adults, and 1 child</tr>
                    <div class="row">
                        <div class="col">
                            <tr scope="col">
                                <h5>Bed room:1</h5>
                            </tr>
                            <img src="assets/hotelrooms1.jpg" style="width:120px;height:120px; ">
                        </div>
                        <div class="col">
                            <tr scope="col">
                                <h5>Bed room:2</h5>
                            </tr>
                            <img src="assets/hotelrooms2.jpg" style="width:120px;height:120px; ">
                        </div>
                    </div>


                    </td>

                    <td style="border-color: #964B00;" class="align-middle ">{{i.basecount}}</td>
                    <!-- <td style="border-color: #964B00;" class="align-middle ">1</td> -->
                    <td style="border-color: #964B00;" class="align-middle ">Rs{{i.price}}/-</td>
                    <!-- <td style="border-color: #964B00;" class="align-middle ">{{i.roomsize}} sq.ft</td> -->

                    <td style="border-color: #964B00; " class=" align-middle">
                        <!-- <form> -->
                            <div class="row pl-2 ">

                                <input class="mr-1" type="checkbox" id="bed" name="bed" value="bed">
                                <label class="pt-2" for="bed"> {{chargedData[1].facilityname}}</label>&nbsp;&nbsp;&nbsp;
                                <div class="row pl-0">
                                    <div class="form-check-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button style="color:#efc96a; background-color: #964B00;"
                                            class="btn btn-sm outline" (click)="plus()"><i
                                                class="fa fa-plus"></i></button>&nbsp;&nbsp;

                                        <div class="form-check-inline">
                                            <input style="border-color:#efc96a; width: 50px;" type="text"
                                                class="form-control" [(ngModel)]="inputnumber">&nbsp;&nbsp;

                                            <div class="form-check-inline">
                                                <button style="color:#efc96a; background-color: #964B00;"
                                                    class="btn btn-sm outline" (click)="minus()"><i
                                                        class="fa fa-minus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <P style="font-size: smaller;">Rs.{{chargedData[1].charges}} per Bed</P>

                            <!-- <div class="row pl-2">
                                <input class="mr-1" type="checkbox" id="breakfast" name="breakfast" value="breakfast">
                                <label class="pt-2" for="breakfast"> {{chargedData[2].facilityname}}</label>&nbsp;
                                <div class="row">

                                    <div class="form-check-inline">&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button style="color:#efc96a; background-color: #964B00;"
                                            class="btn btn-sm outline" (click)="plus3()"><i
                                                class="fa fa-plus"></i></button>&nbsp;&nbsp;

                                        <div class="form-check-inline">
                                            <input style="border-color:#efc96a; width: 50px;" type="text"
                                                class="form-control" [(ngModel)]="foodnumber">&nbsp;&nbsp;

                                            <div class="form-check-inline">
                                                <button style="color:#efc96a; background-color: #964B00;"
                                                    class="btn btn-sm outline" (click)="minus3()"><i
                                                        class="fa fa-minus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <P style="font-size: smaller;">Rs.{{chargedData[2].charges}} per Person</P> -->
                            <!-- <div class="row pl-2">
                                <input class="mr-1" type="checkbox" id="AC" name="AC" value="AC">
                                <label class="mt-2" for="AC"> {{chargedData[0].facilityname}}</label>

                            </div>
                            <P style="font-size: smaller;">Rs.{{chargedData[0].charges}} per Room</P> -->
                        <!-- </form> -->

                    </td>
                    <td style="border-color: #964B00;" class="align-middle "> &nbsp;&nbsp;&nbsp;&nbsp;

                        <!-- <button (click)="sendbookeddata(i)" style="color:#efc96a; background-color: #964B00;"
                            class="btn btn-outline"><i class="fa fa-arrow-right"></i></button>&nbsp;&nbsp; -->

                    </td>
                    <td style="border-color: #964B00;" class="align-middle "> &nbsp;&nbsp;&nbsp;&nbsp;

                        <button (click)="sendbookeddata(i)" style="color:#efc96a; background-color: #964B00;"
                            class="btn btn-outline"><i class="fa fa-arrow-right"></i></button>&nbsp;&nbsp;

                    </td>
                    </tr>

                    <!-- <tr>
                        <th  class="align-middle" style="border-color: #964B00;" scope="row">2</th>
                        <td style="border-color: #964B00;">3BHK
                    <tr style="border-color: #964B00;" scope="col">Reccommended for 2 adults, and 1 child</tr>
                    <div class="row">
                        <div class="col-4">
                            <tr scope="col">
                                <h4>Bed room:1</h4>
                            </tr>
                            <img src="assets/hotelrooms1.jpg" style="width:120px;height:120px; ">
                        </div>
                        <div class="col-4">
                            <tr scope="col">
                                <h4>Bed room:2</h4>
                            </tr>
                            <img src="assets/hotelrooms2.jpg" style="width:120px;height:120px; ">
                        </div>
                        <div class="col-4">
                            <tr scope="col">
                                <h4>Bed room:3</h4>
                            </tr>

                            <img src="assets/rooms3.jpg" style="width:120px;height:120px; ">
                        </div>

                    </div>

                    </td>

                    <td style="border-color: #964B00;" class="align-middle">3</td>

                    <td style="border-color: #964B00;" class="align-middle">1</td>
                    <td style="border-color: #964B00;" class="align-middle">4500</td>
                    <td style="border-color: #964B00;" class="align-middle">900 sq.ft</td>

                    <td style="border-color: #964B00;" class="align-middle">
                        <div class="row pl-2">

                            <input class="mr-1" type="checkbox" id="bed" name="bed" value="bed">

                            <label class="pt-2" for="bed"> Bed</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="row pl-2">

                                <div class="form-check-inline">&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button style="color:#efc96a; background-color: #964B00;" class="btn btn-sm outline"
                                        (click)="plus1()"><i class="fa fa-plus"></i></button>&nbsp;&nbsp;

                                    <div class="form-check-inline">
                                        <input style="border-color:#efc96a; width: 50px;" type="text"
                                            class="form-control" [(ngModel)]="number">&nbsp;&nbsp;

                                        <div class="form-check-inline">
                                            <button style="color:#efc96a; background-color: #964B00;"
                                                class="btn btn-sm outline" (click)="minus1()"><i
                                                    class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <P style="font-size: smaller;">150rs/person</P>
                       
                        <div class="row pl-2">
                            <input class="mr-1" type="checkbox" id="breakfast" name="breakfast" value="breakfast">
                            <label class="pt-2" for="breakfast"> Breakfast</label>&nbsp;
                            <div class="row">

                                <div class="form-check-inline">&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button style="color:#efc96a; background-color: #964B00;" class="btn btn-sm outline"
                                        (click)="plus3()"><i class="fa fa-plus"></i></button>&nbsp;&nbsp;

                                    <div class="form-check-inline">
                                        <input style="border-color:#efc96a; width: 50px;" type="text"
                                            class="form-control" [(ngModel)]="foodnumber">&nbsp;&nbsp;

                                        <div class="form-check-inline">
                                            <button style="color:#efc96a; background-color: #964B00;"
                                                class="btn btn-sm outline" (click)="minus3()"><i
                                                    class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <P style="font-size: smaller;">200Rs/person</P>
                        <div class="row pl-2">
                        <input class="mr-1"type="checkbox" id="AC" name="AC" value="AC">
                        <label class="mt-2" for="AC"> AC</label>
                    </div>


                    </td>
                    <td style="border-color: #964B00;" class="align-middle">&nbsp;&nbsp;&nbsp; &nbsp;

                        <button style="color:#efc96a; background-color: #964B00;" class="btn btn-outline"><i
                                class="fa fa-arrow-right"></i></button>&nbsp;&nbsp;


                    </td>

                    </tr> -->
                    <!-- <tr>
                        <th class="align-middle" style="border-color: #964B00;" scope="row">3</th>
                        <td style="border-color: #964B00;">Splited room

                    <tr style="border-color: #964B00;" scope="col">Reccommended for 2 adults, and 1 child</tr>
                    <tr style="border-color: #964B00;" scope="col">
                        <h4>Bed room:1 splited</h4>
                    </tr>
                    <tr style="border-color: #964B00;" scope="col">
                        <h4>Bed room:2 splited</h4>
                    </tr>
                    <tr style="border-color: #964B00;" scope="col">
                        <h4>Bed room:3 splited</h4>
                    </tr>



                    <br>
                    <tr>common Kitchen and living room</tr>

                    </td>
                    <td style="border-color: #964B00;" class="align-middle">3</td>

                    <td style="border-color: #964B00;" class="align-middle">1</td>
                    <td style="border-color: #964B00;" class="align-middle">1500</td>
                    <td style="border-color: #964B00;" class="align-middle">300 sq.ft</td>

                    <td style="border-color: #964B00;" class="align-middle">
                        <div class="row pl-2">
                            <input class="mr-1" type="checkbox" id="bed" name="bed" value="bed">
                            <label class="pt-2" for="bed"> Bed</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="row pl-2">

                                <div class="form-check-inline">&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button style="color:#efc96a; background-color: #964B00;" class="btn btn-sm outline"
                                        (click)="plus2()"><i class="fa fa-plus"></i></button>&nbsp;&nbsp;

                                    <div class="form-check-inline">
                                        <input style="border-color:#efc96a; width: 50px;" type="text"
                                            class="form-control" [(ngModel)]="bednumber">&nbsp;&nbsp;

                                        <div class="form-check-inline">
                                            <button style="color:#efc96a; background-color: #964B00;"
                                                class="btn btn-sm outline" (click)="minus2()"><i
                                                    class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <P style="font-size: smaller;">150rs/person</P>
                       
                        <div class="row pl-2">
                            <input class="mr-2" type="checkbox" id="breakfast" name="breakfast" value="breakfast">
                            <label class="pt-2 " for="breakfast">Breakfast</label>&nbsp;
                            <div class="row pl-2">

                                <div class="form-check-inline">&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button style="color:#efc96a; background-color: #964B00;" class="btn btn-sm outline"
                                        (click)="plus3()"><i class="fa fa-plus"></i></button>&nbsp;&nbsp;

                                    <div class="form-check-inline">
                                        <input style="border-color:#efc96a; width: 50px;" type="text"
                                            class="form-control" [(ngModel)]="foodnumber">&nbsp;&nbsp;

                                        <div class="form-check-inline">
                                            <button style="color:#efc96a; background-color: #964B00;"
                                                class="btn btn-sm outline" (click)="minus3()"><i
                                                    class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <P style="font-size: smaller;">200Rs/person</P>
                   <div class="row pl-2">
                        <input class= "mr-1" type="checkbox" id="AC" name="AC" value="AC">
                        <label  class= "mt-2" for="AC"> AC</label>
                    </div>
                    </td>
                    <td style="border-color: #964B00;" class="align-middle"> &nbsp;&nbsp;&nbsp;&nbsp;

                        <button style="color:#efc96a; background-color: #964B00;" class="btn btn-outline"><i
                                class="fa fa-arrow-right"></i></button>&nbsp;&nbsp;

                    </td>


                    </tr> -->
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>