<div class="outer">
  <app-header></app-header>
  <div class="container-fluid">
    <div class="row mx-5 form-box-style">
      <div class="col">
        <!-- form -->
        <form [formGroup]="selectRoomForm">

          <div class="form-group row">
            <label  for="bookingid" class="col-sm-3 col-form-label">BookingId</label>
            <div class="col-sm-5">
              <input formControlName="bookingid" type="text" readonly class="form-control-plaintext" id="bookingid"
                value={{bookingid}}>
            </div>
          </div>



          <div class="form-group row">
            <label for="Proof" class="col-sm-3 col-form-label">Update Proof</label>
            <div class="col-sm-5">

              <input formControlName="upload" class="form-control-plaintext " type="file" id="upload"
                (change)="onChange($event)">



            </div>

          </div>
          <div class="form-group row">
            <label  for="Proof" class="col-sm-3 col-form-label">File Name</label>

            <div class="col-sm-2 mt-2" >

              <div><img height="100px" width="100px" src={{imageUrl}} class="images "></div>


            </div>

          </div>

          <button [disabled]=selectRoomForm.invalid (click)="uploadFileToActivity()" type="submit"
            class="btn btn-light  mt-5 mx-3 "
            >
            Submit</button>
          <button routerLink="/frontdesk" class="btn btn-light btn-elevate mt-5 "
           >
            Back</button>
        </form>

      </div>

      <div *ngIf="proofshow" class=" col my-3" >
        <img style="height: 300px; width: 300px;" src={{imageUrl}}>
      </div>

    </div>

</div>
<footer class="  py-1">
  <!-- <div class="container">
    <p class="text-black"> Stashook Technologies Private Ltd</p>
    
  </div> -->
  <app-footer></app-footer>
</footer>
  </div>