.outer{
    // height:100vh;
     background-image: var(--primary);
     min-height: 100vh; 
}
.container-fluid{
    background-color: #ffff;
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    background-color: var(--primary);
}
.shadowed-image {
    border-radius: 10px; /* Slight rounded corners */
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.2)); /* Soft shadow */
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    object-fit: cover;  
}
h1{
   font-weight: bold;
}
.text-brown{
    color: var(--text-color);
}
// img:hover {
//     animation: shake 0.5s;
//     animation-iteration-count: infinite;
//   }
//   @keyframes shake {
//     0% { transform: translate(1px, 1px) rotate(0deg); }
//     10% { transform: translate(-1px, -2px) rotate(-1deg); }
//     20% { transform: translate(-3px, 0px) rotate(1deg); }
//     30% { transform: translate(3px, 2px) rotate(0deg); }
//     40% { transform: translate(1px, -1px) rotate(1deg); }
//     50% { transform: translate(-1px, 2px) rotate(-1deg); }
//     60% { transform: translate(-3px, 1px) rotate(0deg); }
//     70% { transform: translate(3px, 1px) rotate(-1deg); }
//     80% { transform: translate(-1px, -1px) rotate(1deg); }
//     90% { transform: translate(1px, 2px) rotate(0deg); }
//     100% { transform: translate(1px, -2px) rotate(-1deg); }
//   }  

// img:hover {
//     -webkit-transform: scaleX(-1);
//     transform: scaleX(-1);
//   }