<div class="col-md-9 table-section">
  <app-header></app-header>
  <mat-card class="table-card">
    <mat-card-title><h4 class="text-brown" style="font-size: 30px;">Adult Rooms Tarrif History</h4></mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{ element.logicid }} </td>
        </ng-container>

      </table>
      </mat-card-content>
      </mat-card>
<br><br><br><br><hr>
<!-- //onther part  -->


<div class="text-center">
  <app-header></app-header>

  <h4 class="text-brown" style="font-size: 30px;">Adult Rooms Tarrif History</h4>
  <!-- <p>Review your past bookings in an organized format.</p> -->
  <a href="#" class="btn btn-ms btn-light-primary mx-2" data-bs-toggle="modal" data-bs-target="#newAdultMemberModal"
    (click)="addAdultMember()" (click)="Changetitle('Create') ">Adult Rooms Tarrif
  </a>
</div>
</div>
<div class="tbl-container pt-2">
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th class="align-middle" rowspan="2">LogicId</th>
            <th class="align-middle" rowspan="2">Adults</th>
          <th class="align-middle" rowspan="2">RoomTypeId </th>
          <th class="align-middle" rowspan="2">OptionType </th>
          <th class="align-middle" rowspan="2">BHK1</th>
          <th class="align-middle" rowspan="2">BHK2</th>
          <th class="align-middle" rolspan="3">BHK3</th>
          <th class="align-middle" rowspan="2">No Of Rooms</th>
          <th class="align-middle" rowspan="2">Bed</th>
          <th class="align-middle" rowspan="2">Price</th>
          <th class="align-middle" rowspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of dataObs$ | async">
          <td class="align-middle ">{{i.logicid}}</td>
          <td class="align-middle ">{{i.adult}}</td>
          <td class="align-middle ">{{i.roomtypeid}} </td>
          <td class="align-middle ">{{i.optiontype}} </td>
          <td class="align-middle ">{{i.bhktype1}} </td>

          <td class="align-middle ">{{i.bhktype2}} </td>

          <td class="align-middle ">{{i.bhktype3}} </td>

          <td class="align-middle ">{{i.noofrooms}} </td>

          <td class="align-middle ">{{i.bed}} </td>

          <td class="align-middle ">{{i.Price}} </td>

          <td><button style="border: none;" id="submit" class="col-me-3" data-bs-toggle="modal"
              data-bs-target="#addAdultEditModal" (click)="editAdult(i)">

              <i class="fa fa-fw fa-edit" (click)="Changetitle('Edit') " data-bs-toggle="modal"
                data-bs-target="#newAdultMemberModal">
              </i>
            </button>
            <button style="border: none;">

              <i class="fas fa-trash" (click)="deladult()">
              </i>

            </button>
          </td>
        </tr>


      </tbody>
    </table>
  </div>
  <div class="page">

    <mat-paginator #paginator [pageSizeOptions]="[5,10,15]" [pageSize]="5" showFirstLastButtons>

    </mat-paginator>
  </div>

</div>

<footer class="  py-1">

  <app-footer></app-footer>
</footer>



<!-- srt modal -->


<div class="modal fade modal-lg" id="newAdultMemberModal" tabindex="-1" aria-labelledby="newMemberModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">

        <h3 class="col-12 modal-title text-center" id="newMemberModalLabel">{{title}} Rooms Tarrif</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <form [formGroup]="adultForm" (ngSubmit)="addAdultMember()">
          <div class="row">
            <div class="col-12 col-md-4 mb-2">
              <label class="text-brown font-weight-bold">Adult Number</label>
              <input type="text" class="form-control" id="adult" formControlName="adult" maxlength="2"
                placeholder="Enter Adult No" required>
              <small class="text-muted">Max 99 Numbers Only</small>
              <div *ngIf="adultForm.get('adult')?.hasError('pattern') && adultForm.get('adult')?.touched">
                <small class="text-danger">Adult Number must number only </small>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
              <label class="text-brown font-weight-bold">RoomType</label>
              <select name="roomtypeid" formControlName="roomtypeid" class="form-select" id="roomtypeid">
                <option value="1">1</option>
                <option value="2">2</option>

              </select>
            </div>
            <div class="col-12 col-md-4 mb-3">
              <label class="text-brown font-weight-bold">Option Type</label>
              <select name="optiontype" formControlName="optiontype" class="form-select" id="optiontype">
                <option value="R1">R1</option>
                <option value="O1">O1</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4 mb-3">
              <label class="text-brown font-weight-bold">BHK-1</label>
              <select name="bhktype1" formControlName="bhktype1" class="form-select" id="bhktype1">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
            </div>
            <div class="col-12 col-md-4 mb-3">
              <label class="text-brown font-weight-bold">BHK-2</label>
              <select name="bhktype2" class="form-select" formControlName="bhktype2">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
            <div class="col-12 col-md-4 mb-3">
              <label class="text-brown font-weight-bold">BHK-3</label>
              <select name="bhktype3" class="form-select" formControlName="bhktype3">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
            </div>

          </div>
          <div class="row">
            <div class="col-12 col-md-4 mb-2">
              <label class="text-brown font-weight-bold">No Of Rooms</label>
              <input type="number" class="form-control" id="noofrooms" formControlName="noofrooms" placeholder="Rooms"
                required>
            </div>
            <div class="col-12 col-md-4 mb-2">
              <label class="text-brown font-weight-bold">No Of Beds</label>
              <input type="text" class="form-control" id="bed" formControlName="bed" placeholder="Beds">
            </div>
            <div class="col-12 col-md-4 mb-3">
              <label class="text-brown font-weight-bold">PRICE</label>
              <input name="price" type="text" class="form-control" formControlName="price" placeholder="Price">
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
            <button [disabled]="adultForm.invalid" type="submit" class="btn btn-primary"
              >Save</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
