.outer{
   // height:100vh;
    background-image: var(--primary);
    min-height: 100vh; 
}
.container-fluid{
   background-color:var(--primary);
   border-radius: 0.3rem;
   box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
   border-radius: 4px;
   background-color: var(--primary);
}
 .square{
    height:25px;
    width:15px;
    background-color: green;
   
 }
 .square1{
    height:25px;
    width:15px;
    background-color: orange;
    
 }
 .square2{
    height:25px;
    width:15px;
    background-color: red;
    
 }
//  mat-paginator{
//       //  background-color: #efc96a;
//       //  align-items: self-end;
//      }
a{
   color:var(--text-color); 
   font-weight: bold ;
   font-size: medium;
}
a:hover{
   color:var(--hover)
}
h3{
   color:var(--text-color);  
}

i{
   color:var(--text-color);
}


table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
   background: #fff;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 th, td {
   padding: 15px;
   text-align: center;
   border-bottom: 1px solid #ddd;
 }
 th {
   background-color: white;
   color: var(--text-color);
 }
 tr:nth-child(even) {
   background-color: #f9f9f9;
 }
 tr:hover {
   background-color: #f1e4db;
 }
 @media (max-width: 768px) {
   table {
       font-size: 0.9em;
   }
   th, td {
       padding: 10px;
   }
 }
 
 
 