.outer{
   // height:100vh;
    background-image: var(--primary);
    min-height: 100vh; 
}
.container-fluid{
   background-color:var(--primary);
   border-radius: 0.3rem;
   box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
   border-radius: 4px;
   background-color: var(--primary);
}
 .square{
    height:25px;
    width:15px;
    background-color: green;
   
 }
 .square1{
    height:25px;
    width:15px;
    background-color: orange;
    
 }
 .square2{
    height:25px;
    width:15px;
    background-color: red;
    
 }
//  mat-paginator{
//       //  background-color: #efc96a;
//       //  align-items: self-end;
//      }
a{
   color:var(--text-color); 
   font-weight: bold ;
   font-size: medium;
}
a:hover{
   color:var(--hover)
}
h3{
   color:var(--text-color);  
}
th,tr{
   color: var(--text-color);
}
td{
   border-color: var(--text-color);
}
i{
   color:var(--text-color);
}
