<div class="outer">
  <app-header></app-header>
  <div class="container">
    <div class="row" style="color: #964B00;">
      <div class="col-lg-3" style="margin-top: 7px;">
        <h4>Guests Status {{TodayDate}}</h4>
      </div>
      <div class="col-lg-5" style="display: flex;margin-top: 5px;">
        <p class="square "style="margin-left:10px"></p>
        <span style="margin-left: 2px;">Completed</span>

        <p class="square1" style="margin-left:10px"></p>
        <span style="margin-left: 2px;">TimeLeft</span>

        <p class="square2" style="margin-left:10px"></p>
        <span style="margin-left: 2px;">TimeOut</span>
      </div>
      <div class="col-lg-3" style="margin-top: 7px;">
        <label>Date</label>
        <input type="date" #input [(ngModel)]="TodayDate" (change)="calggapi(input.value)" style="margin-left: 3%;">
      </div>
    </div>
    <div class="tbl-container pt-2">
      <div class="row tbl-fixed">

        <table class="table table-striped table-bordered">

          <thead>
            <tr>
              <th style="border-color: #964B00; color:#964B00;" scope="col">BookingID</th>
              <th style="border-color: #964B00; color:#964B00;" scope="col">RoomNo</th>
              <th style="border-color: #964B00; color:#964B00;" scope="col">Name</th>
              <th style="border-color: #964B00; color:#964B00;" scope="col">Phone</th>
              <th style="border-color: #964B00; color:#964B00;" scope="col">Email</th>
              <th style="border-color: #964B00; color:#964B00;" scope="col">CheckinTime</th>
              <th style="border-color: #964B00; color:#964B00;" scope="col">ActualCheckInTime</th>
              <th style="border-color: #964B00; color:#964B00;" scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr style="color: #964B00;" *ngFor="let i of guestData">
              <td class="align-middle " style="border-color: #964B00;">{{i.bookingid}}
              <td class="align-middle " style="border-color: #964B00;">{{i.roomid}}
              <td class="align-middle " style="border-color: #964B00;">{{i.firstname}}
              <td class="align-middle " style="border-color: #964B00;">{{i.phonenumber}}
              <td class="align-middle " style="border-color: #964B00;">{{i.email}}
              <td class="align-middle " style="border-color: #964B00;">{{i.checkin }}
              <td class="align-middle " style="border-color: #964B00;">{{i.acheckin}}
              <td class="align-middle " style="border-color: #964B00;">
                <!-- <pclass="square1"></p> -->
                <div [ngClass]="i.color == 'Green'?'square':i.color == 'Blue'?'square1':'square2'"></div>
          </tbody>
        </table>
      </div>
    </div> 
  </div>

