<div class="outer">
  <app-header></app-header>
  <div class="container-fluid">
    <div class="row d-flex justify-content-between" >
      <div class="col-lg-3 mt-3" >
        <h3 class=" font-weight-bold">Guests Status</h3>
      </div>
      <div class="col-lg-4 mt-3 d-flex justify-content-center" >
        <p class="square mx-0 " ></p>
        <span  class="mx-2 mt-1">Completed</span>

        <p class="square1 mx-0" ></p>
        <span class="mx-2 mt-1" >TimeLeft</span>

        <p class="square2 mx-0" ></p>
        <span  class="mx-2 mt-1" >TimeOut</span>

      </div>
      <div class="col-lg-4 mt-3 mx-3 " >
        <label >Date</label>&nbsp;&nbsp;
        <input type="date" #input [(ngModel)]="TodayDate" (change)="calggapi(input.value)" >&nbsp;&nbsp;&nbsp;
        <span class="mx-3">
          <a  routerLink="/viewcalendar" class="pointer" >ViewCalendar</a>
  
        </span>
      </div>
     
    </div>
    <div class="tbl-container pt-2">
      <div class="row tbl-fixed table-responsive">
        
        <table class="table table-borderless text-center">

          <thead>
            <tr>
              <th class="align-middle " rowspan="2">BookingId</th>
              <th class="align-middle " rowspan="2">RoomNo</th>
              <!-- <th class="align-middle "style=" color:#964B00;" colspan="3"></th> -->
              <!-- <th style=" color:#964B00;" scope="col">2BHK</th>
              <th style=" color:#964B00;" scope="col">3BHK</th> -->
              <th class="align-middle " rowspan="2">1BHK</th>
              <th class="align-middle " rowspan="2">2BHK</th>
              <th class="align-middle " rowspan="2">3BHK</th>
              <th class="align-middle " rowspan="2">Name</th>
              <th class="align-middle " rowspan="2">Phone</th>
              <th class="align-middle " rowspan="2">CinTime</th>
              <th class="align-middle " rowspan="2">CoutTime</th>
              <th class="align-middle " rowspan="2">ACInTime</th>
              <th class="align-middle " rowspan="2">ACOutTime</th>
              <th class="align-middle " rowspan="2">SelectRoom</th>
              <th class="align-middle " rowspan="2">Proof</th>
              <th class="align-middle " rowspan="2">Status</th>

            </tr>
            <!-- <tr style="color: #964B00;">
                    
              <th>1BHK</th>
              <th>2BHK</th>
              <th>3BHK</th>
             
          </tr> -->
          </thead>
          <tbody>
            <tr  *ngFor="let i of dataObs$ | async">
              <td class="align-middle " >{{i.bookingid}}
              <td class="align-middle " >{{i.roomnos==0?"":i.roomnos}}
              <td class="align-middle ">{{i.bhk1count}}
              <td class="align-middle " >{{i.bhk2count}}
              <td class="align-middle " >{{i.bhk3count}}
              <td class="align-middle " >{{i.firstname | titlecase}}
              <td class="align-middle " >{{i.phonenumber}}
              <td class="align-middle " >{{i.checkin | date:'dd-MM-yyyy HH:mm a'}}
              <td class="align-middle " >{{i.checkout | date:'dd-MM-yyyy HH:mm a'}}
              <td class="align-middle " >{{i.acheckin | date:'dd-MM-yyyy HH:mm a'}}
              <td class="align-middle " >
                  <i class="fa fa-fw fa-edit" 
                  (click)=checkOutTime(i.bookingid,i.roomtypeid)> </i>
              </td>
              <td class="align-middle " >
                <i class="fa fa-fw fa-edit" 
                  (click)=getroomslist(i.bookingid,i.checkin,i.checkout,i.bhk1count,i.bhk2count,i.bhk3count,i.roomid,i.roomnos,i.roomtypeid)> </i>
              </td>
              <td class="align-middle " >
                <i class="fa fa-fw fa-edit" 
                  (click)=updateproof(i.bookingid)> </i>
              </td>
              <td class="align-middle " >
                <!-- <pclass="square1"></p> -->
                <div [ngClass]="i.color == 'Green'?'square':i.color == 'Orange'?'square1':'square2'"></div>
          </tbody>
        </table>
       

      </div>
      <div class="page" >

        <mat-paginator
         #paginator 
         [pageSizeOptions]="[5,10,15]" 
         [pageSize]="5"
         showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>



  </div>
</div>