.mat-form-field{
    width: 100%
}
.outer{
    // height:100vh;
     background-image: var(--primary);
     min-height: 100vh; 
}
.container-fluid{
    background-color:var(--primary);
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    background-color: var(--primary);
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color:#efc96a; 
 }
 ::ng-deep .mat-form-field .mat-form-field-appearance-outline {
    background-color:#efc96a; 
 }