<div class="outer">
    <div>
        <app-navbar></app-navbar>
    </div>
    <div>
        <div class="container mt-2">
          
              <div class="row">
                <div class="col-lg-6">
                    <img src="assets/lift.jpg" style="width:600px;height:200px; ">
                </div>
                <div class="col-lg-6">
                    <img src="assets/parking.jpg" style="width:550px;height:200px; ">
                </div>
              </div>
              <div >
                <h4 style="color:#964B00">Tariff</h4>
                <p style="color:#964B00;justify-content:space-evenly;" > We have 12 well-appointed  apartments,including two elegant for those who want to experience the ultimate in luxury.All our 
                    rooms are equipped with attached baths and round the clock hot and cold water also have direct dailing telephones ,attached cable and satellite television,
                    a refrigerator,with soft drink,the spacious rooms also open to broad balconies offering spectacular views of the city.
                </p>
                <p style="color:#964B00"> The tariff of our appartments are us under </p>

                <p>
                    Single Occupancy Tariff<br>
                    Rs.+10% Luxury tax
                </p>
                <p>
                    Double Occupancy Tariff<br>
                    Rs.+19.92% Luxury Taxes(Luxury 12.5% + Service 7.42% )
                </p>
                <p>
                    2BHK<br>
                    Rs2799+19.92% Luxury Taxes(Luxury 12.5% + Service 7.42% )(Regular)
                </p>
              </div>
