<div class="outer">
  <app-navbar></app-navbar>
  <div class="container mt-0">
    <div class="row ">
      <div class="col-sm-12 mt-0">
        <img src="assets/hotelrooms2.jpg" style="width:100%;height:300px; ">
      </div>
    </div>
  </div>

    <div>
      <h1 style="color:black;text-align: center;margin-top: 1%;font-weight: bold;"> Packages</h1>
    </div>
    <div style="color:black;text-align: center;margin-top: 1%;">
     <h3> We have 12 well-appointed apartments, including two elegant for those who want to experience the ultimate in luxury.
    </h3>
    </div>
    <div style="color:black;text-align: center;margin-top: 1%;">
     <h3> All our rooms are equipped with attached baths and round the clock hot and cold water also have direct <br>
      dialing telephones, attached cable and satellite television, a refrigerator, with soft drink, the spacious rooms<br>
       also open to broad balconies offering spectacular views of the city.
    </h3>
    <hr  style="width:20%;">
    </div>
 <div>
  <h1 style="color:black;text-align: center;margin-top: 1%;font-weight: bold;"> Pricing</h1>
 </div>
 <div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card " style="width: 25rem;margin-top: 2%;background-color: #efc96a;">
        <h1 class="card text-black mb-3  " style="max-width: 25rem; text-align: center;background-color: #efc96a;">Single Occupancy <br>
          <h1 style="font-weight: bold;">Rs 1299<h3 style="color:red">/ Night</h3></h1></h1>
       <div class="card-body" style="color: #964B00;">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 1 BHK</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 1 Adult</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i>LED TV</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Air Conditioner</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Cot with Pocket Spring Foam Mattress</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Western Toilet</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Sofa set with Teapoy</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Modular Kitchen</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Fridge</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Dining Table</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Mini Beverage station</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Drink Not Allowed</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Unmarried couple - Plz Excuse</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        
       </div>
       
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 25rem;margin-top: 2%;background-color: #efc96a;">
        <h1 class="card text-black mb-3" style="max-width: 25rem; text-align: center;background-color: #efc96a;">Double Occupancy <br>
          <h1 style="font-weight: bold;">Rs 1599<h3 style="color:red">/ Night</h3></h1></h1>
       <div class="card-body" style="color: #964B00;">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 1 BHK</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 1 Adult</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i>LED TV</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Air Conditioner</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Cot with Pocket Spring Foam Mattress</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Western Toilet</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Sofa set with Teapoy</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Modular Kitchen</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Fridge</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Dining Table</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Mini Beverage station</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Drink Not Allowed</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Unmarried couple - Plz Excuse</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        
       </div>
       
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 25rem;margin-top: 2%;background-color: #efc96a;">
        <h1 class="card text-black mb-3" style="max-width: 25rem; text-align: center;background-color: #efc96a;">Triple Occupancy <br>
          <h1 style="font-weight: bold;">Rs 1899<h3 style="color:red">/ Night</h3></h1></h1>
       <div class="card-body" style="color: #964B00;">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 1 BHK</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 1 Adult</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Double Occupancy + 1 Additional Bed</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i>LED TV</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Air Conditioner</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Cot with Pocket Spring Foam Mattress</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Western Toilet</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Sofa set with Teapoy</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Modular Kitchen</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Fridge</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Dining Table</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Mini Beverage station</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Drink Not Allowed</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Unmarried couple - Plz Excuse</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        
       </div>
       
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 25rem;margin-top: 2%;background-color: #efc96a;">
        <h1 class="card text-black mb-3" style="max-width: 25rem; text-align: center;background-color: #efc96a;">2 BHK​ <br>
          <h1 style="font-weight: bold;">Rs 2899<h3 style="color:red">/ Night</h3></h1></h1>
       <div class="card-body" style="color: #964B00;">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 2 BHK</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 4 Adults</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 2 Children below 9 Yrs</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i>LED TV</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Air Conditioner</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Cot with Pocket Spring Foam Mattress</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Western Toilet</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Sofa set with Teapoy</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Modular Kitchen</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Fridge</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Dining Table</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Mini Beverage station</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Drink Not Allowed</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Unmarried couple - Plz Excuse</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 1 Additional Bed @ Rs. 300/- extra</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
       </div>
       
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 25rem;margin-top: 2%;background-color: #efc96a;">
        <h1 class="card text-black mb-3" style="max-width: 25rem; text-align: center;background-color: #efc96a;">3 BHK​ <br>
          <h1 style="font-weight: bold;">Rs 3599<h3 style="color:red">/ Night</h3></h1></h1>
       <div class="card-body" style="color: #964B00;">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 3 BHK</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 6 Adults</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 3 Children below 9 Yrs</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i>LED TV</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Air Conditioner</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Cot with Pocket Spring Foam Mattress</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Western Toilet</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Sofa set with Teapoy</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Modular Kitchen</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Fridge</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Dining Table</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Mini Beverage station</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Drink Not Allowed</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Unmarried couple - Plz Excuse</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 1 Additional Bed @ Rs. 300/- extra</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
       </div>
       
      </div>
    </div>    
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 25rem;margin-top: 2%;margin-bottom: 5%;background-color: #efc96a;">
        <h1 class="card text-black mb-3" style="max-width: 25rem; text-align: center;background-color: #efc96a;">1 BHK​ <br>
          <h1 style="font-weight: bold;">Rs 19,999<h3 style="color:red">/ Month</h3></h1></h1>
       <div class="card-body" style="color: #964B00;">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 1 BHK</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 2 Adults</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i>LED TV</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Air Conditioner</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Cot with Pocket Spring Foam Mattress</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Western Toilet</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Sofa set with Teapoy</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Modular Kitchen</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Fridge</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Dining Table</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Mini Beverage station</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Drink Not Allowed</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Unmarried couple - Plz Excuse</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Caution Deposit - Rs. 5000/-<br> (To be paid along with rent in advance)</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Maintenance - Rs. 1,500/- per month</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Electricity - @Actuals<br> (Commercial Tarrif - separate<br>
          meter for each flat)</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Satellite channel - Extra - @ Actuals<br> (Optional)</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Minimum Duration of stay - 1 month</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
       </div>
       
      </div>
    </div>   
    <div class="col-sm-4">
      <div class="card" style="width: 25rem;margin-top: 2%;background-color: #efc96a;">
        <h1 class="card text-black mb-3" style="max-width: 25rem; text-align: center;background-color: #efc96a;">2 BHK​ <br>
          <h1 style="font-weight: bold;">Rs 24,999<h3 style="color:red">/ Month</h3></h1></h1>
       <div class="card-body" style="color: #964B00;">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 2 BHK</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 4 Adults</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i>LED TV</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Air Conditioner</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Cot with Pocket Spring Foam Mattress</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Western Toilet</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Sofa set with Teapoy</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Modular Kitchen</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Fridge</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Dining Table</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Mini Beverage station</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Drink Not Allowed</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Unmarried couple - Plz Excuse</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Caution Deposit - Rs. 5000/-<br> (To be paid along with rent in advance)</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Maintenance - Rs. 2000/- per month</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Electricity - @Actuals<br> (Commercial Tarrif - separate<br>
          meter for each flat)</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Satellite channel - Extra - @ Actuals<br> (Optional)</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Minimum Duration of stay - 1 month</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
       </div>
       
      </div>
    </div>   
    <div class="col-sm-4">
      <div class="card" style="width: 25rem;margin-top: 2%;background-color: #efc96a;">
        <h1 class="card text-black mb-3" style="max-width: 25rem; text-align: center;background-color: #efc96a;">3 BHK​ <br>
          <h1 style="font-weight: bold;">Rs 29,999<h3 style="color:red">/ Month</h3></h1></h1>
       <div class="card-body" style="color: #964B00;">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 3 BHK</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> 6 Adults</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i>LED TV</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Air Conditioner</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Cot with Pocket Spring Foam Mattress</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Western Toilet</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Sofa set with Teapoy</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Modular Kitchen</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Fridge</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Dining Table</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Mini Beverage station</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Drink Not Allowed</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Unmarried couple - Plz Excuse</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Caution Deposit - Rs. 5000/-<br> (To be paid along with rent in advance)</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Maintenance - Rs. 2,500/- per month</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Electricity - @Actuals<br> (Commercial Tarrif - separate<br>
          meter for each flat)</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Satellite channel - Extra - @ Actuals<br> (Optional)</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
        <h4 style='text-align: center;'><i class='far fa-arrow-alt-circle-right' style='font-size:20px;'></i> Minimum Duration of stay - 1 month</h4>
        <hr style="width:50%;color:white;height:1px;background-color:white">
       </div>
       
      </div>
    </div>   
  </div>
 </div>
</div>