.outer{
    // height:100vh;
     background-image: var(--primary);
    //  min-height: 100vh; 
}
.container-fluid{
    background-color: #ffff;
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    background-color: var(--primary);
}
.shadowed-image {
    border-radius: 10px; /* Slight rounded corners */
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.2)); /* Soft shadow */
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    object-fit: cover;  
}
.form-box-style{
    background-image: var(--panel);
    border-radius: 10px; /* Slight rounded corners */
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.2)); /* Soft shadow */
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    object-fit: cover;  
}
.card{
    background-image: var(--panel);  
    width: 22rem;background-color: var(--secondary);  
   
}
hr{
     width:100%;
    color:white;
    height:1px;
    background-color:white
}
// h3{
//     color:black;text-align: center;margin-top: 1%;
// }
.text-center{
    color:var(--text-color);font-weight: bold;
}
card-body{
    color:var(--text-color);
}
i{
    font-size:20px;
}
.card text-black{
    max-width: 22rem; ;
    background-color:var(--secondary);
    color:var(--text-color);
    text-align: center;
}
.text-black{
    text-align: center;;
    // margin-top: 1%;
}
