<div class="outer">
  <app-header></app-header>
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <div class="col-lg-3 mt-3">
        <h4>Guests Cancel Status </h4>
      </div>

      <div class="col-lg-3 mt-3">
        <label>Date</label>
        <input type="date" #input [(ngModel)]="TodayDate" (change)="cancelbookingstatus(input.value)"
          style="margin-left: 3%;">
      </div>
    </div>

    <div class="tbl-container pt-2">
      <div class="row tbl-fixed table-responsive">

        <table class="table table-borderless text-center">

          <thead>
            <tr>
              <th class="align-middle" rowspan="2">BookingId</th>             
              <th class="align-middle " rowspan="2">1BHK</th>
              <th class="align-middle " rowspan="2">2BHK</th>
              <th class="align-middle " rowspan="2">3BHK</th>
              <th class="align-middle " rowspan="2">Name</th>
              <th class="align-middle " rowspan="2">Phone</th>
              <th class="align-middle " rowspan="2">CinTime</th>
              <th class="align-middle " rowspan="2">CoutTime</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of dataObs$ | async">
              <td class="align-middle ">{{i.bookingid}}
                <!-- <td class="align-middle " style="border-color: #964B00;">{{i.roomid==0?"":i.roomid}} -->
              <td class="align-middle ">{{i.bhk1count}}
              <td class="align-middle ">{{i.bhk2count}}
              <td class="align-middle ">{{i.bhk3count}}
              <td class="align-middle ">{{i.firstname | titlecase}}
              <td class="align-middle ">{{i.phonenumber}}
              <td class="align-middle ">{{i.checkin | date:'dd-MM-yyyy HH:mm a'}}
              <td class="align-middle ">{{i.checkout | date:'dd-MM-yyyy HH:mm a'}}

          </tbody>
        </table>
      </div>
      <div class="page">

        <mat-paginator #paginator [pageSizeOptions]="[5,10,15]" [pageSize]="5" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </div>
</div>