<div class="outer">
<div class="container mt-2"> 
    <!-- <div class="card"> -->
        <div class="row app-container p-2"> 
            <div class="col-lg-10 offset-md-0  centerTest" > 
                <img src="assets/index_logo.jpg" style= "width:250px;height:100px; ">  <span id="text" class="p-2" >Welcome to MaduraServices</span>                  
                
              
            </div>
            <div style="flex: 1; text-align: right; vertical-align: bottom; margin-top:80px ">
             
              <span >
               
                <a *ngIf="isLoggedIn$ "href="#"  style="color: #964B00; font-weight: bold ;font-size: medium;" routerLink="/login">Login</a>&nbsp;
                <a *ngIf="isLoggedIn$ "href="#"  style="color: #964B00; font-weight: bold ;font-size: medium;" routerLink="/signup">Signup</a>&nbsp;
                <a *ngIf="isLoggedIn$ |async " (click)="logout()" href="#"  style="color: #964B00; font-weight: bold ;font-size: medium;" >Logout</a>
                
                <!-- <button  class="btn btn-outline my-2 my-sm-0 mr-sm-2 "  id="btn" type="submit"  click="login()">Login</button> 
                <button  class="btn btn-outline my-2 my-sm-0 mr-sm-2 "  id="btn" type="submit"  click="login()">Login</button>  -->

                 <!-- <div class="nav-item dropdown  " > -->
                  
                    <!-- <a class="nav-link dropdown " href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi User
                      <i class="fa fa-fw fa-user" style="color:#964B00;" ></i> </a> -->
                  
                  <!-- <div class="dropdown-menu " aria-labelledby="navbarDropdown" id="icon"  >
                    <a class="dropdown-item" href="#" routerLink="/login">Login</a>
                    <a class="dropdown-item" href="#" routerLink="/signup">Signup</a>
                    <a class="dropdown-item" href="#">Logout</a>
                    
                  </div> 
                </div> -->
               </span>
             
            </div> 
            
           
        <!-- </div> -->

    </div>
    <!-- <div class="card"> -->

        <nav class="navbar navbar-expand-lg navbar-light ">
            <!-- <img src="assets/logo.jpg" style= "width:120px;height:40px"> -->
            <!-- <a class="navbar-brand"></a>      -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> 
           
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/home">HOME</button>
                  <!-- <a class="nav-link" routerLink="/home" style="color:#964B00">Home <span class="sr-only">(current)</span></a> -->
                </li>
                <li class="nav-item active">
                    <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/facitilies">FACITILIES</button>
                  <!-- <a class="nav-link" href="#" style="color:#964B00">Facilities</a> -->
                </li>
               
                <li class="nav-item active">
                    <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/tariff">TARIFF</button>
                  <!-- <a class="nav-link " href="#" style="color:#964B00">Tariff</a> -->
                </li>
                <li class="nav-item active">
                    <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/fooditem">FOOD</button>
                    <!-- <a class="nav-link " href="#" style="color:#964B00">Food</a> -->
                  </li>
                  <li class="nav-item active">
                    <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/placetovisit">PLACES TO VISIT</button>
                    <!-- <a class="nav-link " href="#" style="color:#964B00">Places to Visit</a> -->
                  </li>
                  <li class="nav-item active">
                    <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" >TRAVEL</button>
                    <!-- <a class="nav-link " href="#" style="color:#964B00">Travel</a> -->
                  </li>
                  <li class="nav-item active">
                    <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" >CONTACT US</button>
                    <!-- <a class="nav-link " href="#" style="color:#964B00">Contact Us</a> -->
                  </li>
              </ul>
              <!-- <form class="form-inline my-2 my-lg-0"> -->
                <div class="nav-item dropdown  " >
                   
                    <a class="nav-link dropdown " href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        
                      <!-- {{loginData.username| uppercase}} -->
                      <i class="fa fa-fw fa-user" style="color:#964B00;" ></i> </a>
                 
                  <!-- <div class="dropdown-menu " aria-labelledby="navbarDropdown" id="icon"  >
                    <a class="dropdown-item" href="#" routerLink="/login">Login</a>
                     <a class="dropdown-item" href="#" routerLink="/signup">Signup</a> 
                    <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
                     
                  </div>  -->
                </div>
                
               
                <!-- <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/login">Login</button>
                <button class="btn btn-outline my-2 my-sm-0"  id="btn" type="submit" routerLink="/signup">SignUp</button> -->
              <!-- </form> -->
            </div>
          </nav>
    <!-- </div> -->
    
</div>
</div>
  


