.outer{
    // height:100vh;
     background-image: linear-gradient(45deg, #efc96a,white);
}
//css for container
.container{
    background-color: #ffff;
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    width: 150%;
    height:100%;
    background-image: linear-gradient(45deg, #efc96a,white);
}
//css for nav bar
.navbar-light {
    background-color: #efc96a;
    width:101%
}
// css for welcome to maduraservices
#text{
    color:#964B00;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

// css for navbar button
#btn{
    color:#964B00;
     background-color:#efc96a;
    //  font-weight: bold
}
//css for user icon
#icon{
    background-image: linear-gradient(45deg, #efc96a,white);
}
.dropdown-item{
    color: #964B00;
}
#navbarDropdown{
    color:#964B00
}
#btn:hover{
    color:#f47a08
}
a{
    color: #964B00; 
    font-weight: bold ;
    font-size: medium;
}
a:hover{
    color:#f47a08
}
span{
    color: #964B00; 
}
span:hover{
    color:#f47a08
}
i{
    color: #964B00; 
}
i:hover{
    color:#f47a08
}
.pointer {cursor: pointer;}


// .nav-item {
//     color:#964B00;
//      background-color:#efc96a;

// }

// #FBC02D