//css for container
.container-fluid {
    background-color: #ffff;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.08)0px 1px 8px;
    border-radius: 4px;
    background-image: var(--primary)
}


// css for welcome to maduraservices
#text {
    color: var(--text-color);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: Georgia, serif;

}
img {
    max-height: 100px;
    width: auto; /* Maintains aspect ratio */
    display: block;
    margin: auto; /* Centers the image if needed */
  }

.btn {
    color: var(--text-color);
    background-color: var(--secondary);
    font-family: Georgia, serif;
    font-weight: bold;

}
.btn:hover {
    color: var(--hover);
    transform: scale(1.05);
    /* Slight zoom effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Add shadow */
    transition: all 0.3s ease-in-out;
}

//css for user icon
#icon {
    background-image: var(--primary);
}

span {
    color: var(--text-color);
    font-size: 14px;
    font-weight: bold;
}

marquee {
    color: var(--text-color);
    font-size: 16px;

}
