.outer{
  // height:100vh;
   background-image: var(--primary);
}
.container-fluid{
  background-color: var(--primary);
  border-radius: 0.3rem;
  box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
  border-radius: 4px;
  background-color: var(--primary);
}
// td{
//   border-color: #964B00;
   
//   }
  td a:hover{
    cursor: pointer;
    color:  var(--hover);

  }
  // .table{
  //   color:var(--text-color);
  //     background-color: #efc96a;
  //    width:100%;
  //    background-image: linear-gradient(45deg, #efc96a,white);
  // }


mat-paginator{
  background-color: var(--secondary);
}

h4,p{
  color: var(--text-color); 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
th, td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: white;
  color: var(--text-color);
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f1e4db;
}
@media (max-width: 768px) {
  table {
      font-size: 0.9em;
  }
  th, td {
      padding: 10px;
  }
}


