.outer{
  // height:100vh;
   background-image: var(--primary);
}
.container-fluid{
  background-color: var(--primary);
  border-radius: 0.3rem;
  box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
  border-radius: 4px;
  background-color: var(--primary);
}
td{
    // text-decoration: underline;
   
  }
  td a:hover{
    cursor: pointer;
    color:  var(--hover);

  }
  table{
    color:var(--text-color);
    //  background-color: #efc96a;
     width:100%
    // background-image: linear-gradient(45deg, #efc96a,white);
  }
  th{
    color:var(--text-color);
  }

mat-paginator{
  background-color: var(--secondary);
}

h4{
  color: var(--text-color); text-align: left
}
tr,th{
  color:var(--text-color);
  
}
td{
  border-color: var(--text-color);
}
