<div class="outer">
  <app-navbar></app-navbar>
    <div class="container mt-0">
      <div class="row">
        <div class="col-sm-6 ">
          <img src="assets/hotelrooms2.jpg" style="width:550px;height:300px; ">
      </div>
      <div class="col-sm-6">
        <img src="assets/hotelrooms1.jpg" style="width:550px;height:300px; ">
      </div>
      </div>
      <div>
      <h1 style="color:#964B00;text-align: center;margin-top: 1%;font-weight: bold;"> Our Facilities</h1>
      <hr style="width:50%;">
      <!-- <hr style="width:50%;color:#964B00;height:2px;background-color:#964B00"> -->
    </div>
      <div class="row">
        <div class="col-sm-4">
          <div style="color:#964B00;font-size:25px;">
            <div class="row col px-md-3">
              <i class="fa fa-clock-o"> </i> <h3 style="color:#964B00;padding-left: 3%;">24 Hours Check-Out</h3>
              <hr class="row px-md-3" style="width:90%;">
            </div>
          </div>
        </div>
    
      <!-- <div class="row"> -->
        <div class="col-sm-4">
          <div style="color:#964B00;font-size:25px;">
            <div class="row col px-md-3">
              <i class="fas fa-water"> </i> <h3 style="color:#964B00;padding-left: 3%;">24 Hours Hot and Cold Water</h3>
              <hr class="row px-md-3" style="width:90%;">
            </div>
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="row"> -->
        <div class="col-sm-4">
          <div style="color:#964B00;font-size:25px;">
            <div class="row col px-md-3">
              <i class="fas fa-table"></i> <h3 style="color:#964B00;padding-left: 2%;">Refrigerator & Dining table in each flat</h3>
              <hr class="row px-md-3" style="width:90%;">
            </div>
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="row"> -->
        <div class="col-sm-4">
          <div style="color:#964B00;font-size:25px;">
            <div class="row col px-md-3">
              <i class="fa fa-bus"></i><h3 style="color:#964B00;padding-left: 2%;">Travel Desk</h3>
              <hr class="row px-md-3" style="width:90%;">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div style="color:#964B00;font-size:25px;">
            <div class="row col px-md-3">
              <i class="fas fa-utensils"></i><h3 style="color:#964B00;padding-left: 2%;">Modular Kitchen with Induction stove <br>and utensis</h3>
              <hr class="row px-md-3" style="width:90%;">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div style="color:#964B00;font-size:25px;">
            <div class="row col px-md-3">
              <i class="fas fa-couch"></i><h3 style="color:#964B00;padding-left: 2%;">Living with sofa & tea poi</h3>
              <hr class="row px-md-3" style="width:90%;">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div style="color:#964B00;font-size:25px;">
            <div class="row col px-md-3">
              <i class="far fa-object-group"></i><h3 style="color:#964B00;padding-left: 2%;">Same Day laundry</h3>
              <hr class="row px-md-3" style="width:90%;">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div style="color:#964B00;font-size:25px;">
            <div class="row col px-md-3">
              <i class="fas fa-car-alt"></i><h3 style="color:#964B00;padding-left: 2%;">Covered Car Parking</h3>
              <hr class="row px-md-3" style="width:90%;">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div style="color:#964B00;font-size:25px;">
            <div class="row col px-md-3">
              <i class="fa fa-bed"></i><h3 style="color:#964B00;padding-left: 2%;">2A/C & 3A/C Bedrooms Flats</h3>
              <hr class="row px-md-3" style="width:90%;">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div style="color:#964B00;font-size:25px;">
            <div class="row col px-md-3">
              <i class="fa fa-lock"></i><h3 style="color:#964B00;padding-left: 2%;">I.C. Locking system for better safety</h3>
              <hr class="row px-md-3" style="width:90%;">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div style="color:#964B00;font-size:25px;">
            <div class="row col px-md-3">
              <i class="fas fa-external-link-alt"></i><h3 style="color:#964B00;padding-left: 2%;">Lift</h3>
              <hr class="row px-md-3" style="width:90%;">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div style="color:#964B00;font-size:25px;">
            <div class="row col px-md-3">
              <i class="far fa-address-card"></i><h3 style="color:#964B00;padding-left: 2%;">Separate stay for drivers with toilets</h3>
              <hr class="row px-md-3" style="width:90%;">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div style="color:#964B00;font-size:25px;">
            <div class="row col px-md-3">
              <i class="fas fa-cheese"></i><h3 style="color:#964B00;padding-left: 2%;">Home food on request</h3>
              <hr class="row px-md-3" style="width:90%;">
            </div>
          </div>
        </div>
      </div>
       <div class="text-center" style="color:#964B00;text-align: center;margin-bottom: 30px;">
        <h4>STAY LIKE HOME</h4>
        <hr  style="width:15%;text-align: center;">
        <button  class="btn btn-light "routerLink="/contactus"> Contactus <i class="	fas fa-angle-right"></i></button>
            
        
       </div>
      <!-- </div> -->
      </div>
</div>