.outer{
    // height:100vh;
     background-image: var(--primary);
     min-height: 100vh; /* Ensures full screen height */
}
.container-fluid{
    background-color:var(--primary);
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    background-color: var(--primary);
}
.text-brown {
    font-weight: bold;
    font-family: Georgia, serif;
    color: var(--text-color);
  }
  
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: white;
    color: var(--text-color);
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1e4db;
}
@media (max-width: 768px) {
    table {
        font-size: 0.9em;
    }
    th, td {
        padding: 10px;
    }
}
i{
    color:var(--text-color)
}

.btn-light{
    // background-image: linear-gradient(45deg, #9cbfe2 0%, rgb(206, 199, 223) 100%);
    background-image: var(--primary);
    // margin-top: 30px;
    color: var(--text-color);
}
.btn-light:hover {
    color: var(--hover);
    transform: scale(1.05);
    /* Slight zoom effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow */
    transition: all 0.3s ease-in-out;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}
.header h2 {
    font-size: 1.5em;
    color:var(--text-color);
}

// .fixed-button {
//      position: fixed;
//     bottom: 1px; /* Adjust as needed for the desired distance from the bottom */
//      right: 10px; /* Adjust as needed for the desired distance from the right */
//     z-index: 1000; /* Ensure it stays above other content */
//   }

/* Fix the button at the bottom of the viewport for mobile */
@media (max-width: 768px) {
    .fixed-button {
      position: fixed;
      bottom: 0px; /* Adjust spacing from the bottom */
      left: 50%;
      transform: translateX(-50%); /* Center the button horizontally */
      z-index: 1000; /* Ensure it's above other elements */
    }
  
    .fixed-button button {
      width: auto; /* Let the button size itself based on content */
      padding: 0px 20px; /* Adjust padding for better touch experience */
    }
  }


// 