<app-header></app-header>
<div class="outer">
   <div class="container ">
       <h4 class="mt-0 pt-2 " style="color: #964B00; text-align: left;">Place To Visit</h4>
        <div style="color: #964b00ad; ">
            <table mat-table [dataSource]="dataSource">
      
                <ng-container matColumnDef="placeid">
                  <th mat-header-cell *matHeaderCellDef> Place Id </th>
                  <td mat-cell *matCellDef="let element"> 
                    {{element.placeid}}</td>
                </ng-container>

              <ng-container matColumnDef="location">
                  <th mat-header-cell *matHeaderCellDef> Loacation </th>
                  <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                </ng-container>
              
                <ng-container matColumnDef="distancefromhotel">
                  <th mat-header-cell *matHeaderCellDef> Distance From Hotel</th>
                  <td mat-cell *matCellDef="let element"> {{element.distancefromhotel}} </td>
                </ng-container>
                

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef> description Famous</th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                <ng-container matColumnDef="state">
                  <th mat-header-cell *matHeaderCellDef> State</th>
                  <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                </ng-container>
                <ng-container matColumnDef="duration">
                  <th mat-header-cell *matHeaderCellDef> Duration</th>
                  <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
                </ng-container>

                <ng-container matColumnDef="hints">
                  <th mat-header-cell *matHeaderCellDef>Hints</th>
                  <td mat-cell *matCellDef="let element"> {{element.hints}} </td>
                </ng-container>
                
                <ng-container matColumnDef="detail">
                  <th mat-header-cell *matHeaderCellDef> Detail</th>
                  <td mat-cell *matCellDef="let element"> {{element.detail}} </td>
                </ng-container>


                <ng-container matColumnDef="img1">
                  <th mat-header-cell *matHeaderCellDef> Img1</th>
                  <td mat-cell *matCellDef="let element"> {{element.img1}} </td>
                </ng-container>

                
                <ng-container matColumnDef="img2">
                  <th mat-header-cell *matHeaderCellDef> Img2 </th>
                  <td mat-cell *matCellDef="let element"> {{element.img2}} </td>
                </ng-container>

                
                <ng-container matColumnDef="img3">
                  <th mat-header-cell *matHeaderCellDef> Img3 </th>
                  <td mat-cell *matCellDef="let element"> {{element.img3}} </td>
                </ng-container>

                <ng-container matColumnDef="img4">
                  <th mat-header-cell *matHeaderCellDef> Img4</th>
                  <td mat-cell *matCellDef="let element"> {{element.img4}} </td>
                </ng-container>

                <ng-container matColumnDef="img5">
                  <th mat-header-cell *matHeaderCellDef> Img5 </th>
                  <td mat-cell *matCellDef="let element"> {{element.img5}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
              </table>
              <div class="page">
                
                <mat-paginator 
                #paginator
                  [pageSizeOptions]="[2,5,10]" 
                  showFirstLastButtons
                  >
          </mat-paginator>
              </div>
        
        </div>
    </div>
</div>