<div class="outer">
    <div class="container">
        <div class="row" > 
            <div class="offset-md-1 col-lg-3 col-md-5 offset-lg-2 offset-md-4">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-1 font-weight-bold" style="color:#964B00">Register Yourself </h3>
                    </div>
                    <div class="panel-body p-3" >
                        <form [formGroup]="signupForm" (ngSubmit)="signupFormProcess()">
                            <div class="form-group pt-0 row justify-content-around">
                                <div class="col-md-4">
                                    <div class="input-group mb-1">
                                        <div class="input-field">
                                            <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                            <!-- <label style="color:#964B00">FirstName:</label> -->
                                            <input formControlName="firstname"type="text" placeholder="FirstName">

                                 </div> 
                                    <small *ngIf="signupForm.controls['firstname'].dirty && signupForm.hasError('required','firstname')"  
                              class="text-danger form-inline  mt-0">*firstName is required</small>
                              <small *ngIf="signupForm.controls['firstname'].dirty && signupForm.hasError('pattern','firstname')"  
                              class="text-danger form-inline  mt-0">*firstName is invalid</small>
                                        </div>
                               </div>
                                <div class="col-md-4">
                                    <div class="input-group mb-1">
                                        <div class="input-field">
                                            <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                            <!-- <label style="color:#964B00">LastName:</label> -->
                                            <input formControlName="lastname" type="text" placeholder="LastName">
                                        </div>
                                        <small *ngIf="signupForm.controls['lastname'].dirty && signupForm.hasError('required','lastname')"  
                              class="text-danger form-inline  mt-0">*lastName is required</small>
                            
                            <small *ngIf="signupForm.controls['lastname'].dirty && signupForm.hasError('pattern','lastname')"  
                  class="text-danger form-inline  mt-0">*lastName is invalid</small>
                                        
                                    </div>                                    
                                </div>                                
                            </div>
                            <div class="form-group pt-1 row justify-content-around">
                                <div class="col-md-4">
                                    <div class="input-group mb-1">
                                        <div class="input-field">
                                            <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                            <!-- <label style="color:#964B00">Address1:</label> -->
                                            <input formControlName="address1"type="text" placeholder="Address1">
                                        </div>
                                        <small *ngIf="signupForm.controls['address1'].dirty && signupForm.hasError('required','address1')"  
                              class="text-danger form-inline  mt-0">*address1 is required</small>
                              <small *ngIf="signupForm.controls['address1'].dirty && signupForm.hasError('pattern','address1')"  
                              class="text-danger form-inline  mt-0">*Address1 is invalid</small>
                                        
                                    </div>
                               </div>
                                <div class="col-md-4">
                                    <div class="input-group mb-1">
                                        <div class="input-field">
                                            <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                            <!-- <label style="color:#964B00">Address2:</label> -->
                                            <input formControlName="address2"type="text" placeholder="Address2">
                                        </div>
                                        <small *ngIf="signupForm.controls['address2'].dirty && signupForm.hasError('required','address2')"  
                              class="text-danger form-inline  mt-0">*address2 is required</small>
                              <small *ngIf="signupForm.controls['address2'].dirty && signupForm.hasError('pattern','address2')"  
                              class="text-danger form-inline  mt-0">*address2 is invalid</small>
                                        
                                    </div>                                    
                                </div>                                
                            </div>
                            <div class="form-group pt-1 row justify-content-around">
                                <div class="col-md-4">
                                    <div class="input-group mb-1">
                                        <div class="input-field">
                                            <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                            <!-- <label style="color:#964B00">City:</label> -->
                                            <input formControlName="city" type="text" placeholder="City">
                                        </div>
                                        <small *ngIf="signupForm.controls['city'].dirty && signupForm.hasError('required','city')"  
                              class="text-danger form-inline  mt-0">*city is required</small>
                              <small *ngIf="signupForm.controls['city'].dirty && signupForm.hasError('pattern','city')"  
                              class="text-danger form-inline  mt-0">*city is invalid</small>  
                                        
                                    </div>
                               </div>
                                <div class="col-md-4">
                                    <div class="input-group mb-1">
                                        <div class="input-field">
                                            <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                            <!-- <label style="color:#964B00">State:</label> -->
                                            <input formControlName="state" type="text" placeholder="State">
                                        </div>
                                        <small *ngIf="signupForm.controls['state'].dirty && signupForm.hasError('required','state')"  
                              class="text-danger form-inline  mt-0">*state is required</small>
                              <small *ngIf="signupForm.controls['state'].dirty && signupForm.hasError('pattern','state')"  
                              class="text-danger form-inline  mt-0">*state is invalid</small>
                                        
                                    </div>                                    
                                </div>                                
                            </div>
                            <div class="form-group pt-1 row justify-content-around">
                                <div class="col-md-4">
                                    <div class="input-group mb-1">
                                        <div class="input-field">
                                            <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                            <!-- <label style="color:#964B00">Country:</label> -->
                                            <input formControlName="country" type="text" placeholder="Country" >
                                        </div>
                                        <small *ngIf="signupForm.controls['country'].dirty && signupForm.hasError('required','country')"  
                              class="text-danger form-inline  mt-0">*country is required</small>
                              <small *ngIf="signupForm.controls['country'].dirty && signupForm.hasError('pattern','country')"  
                              class="text-danger form-inline  mt-0">*country is invalid</small>
                                        
                                    </div>
                               </div>
                                <div class="col-md-4">
                                    <div class="input-group mb-1">
                                        <div class="input-field">
                                            <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                            <!-- <label style="color:#964B00">PhoneNumber:</label> -->
                                            <input formControlName="pincode"  type="text" placeholder="Pincode" >
                                        </div>
                                        <small *ngIf="signupForm.controls['pincode'].dirty && signupForm.hasError('required','pincode')"  
                              class="text-danger form-inline  mt-0">*pincode is required</small>
                              <small *ngIf="signupForm.controls['pincode'].dirty && signupForm.hasError('pattern','pincode')"  
                              class="text-danger form-inline  mt-0">*pincode is invalid</small>
                                        
                                    </div>                                    
                                </div>                                
                            </div>
                            <div class="form-group pt-1 row justify-content-around">
                                <div class="col-md-4">
                                    <div class="input-group mb-1">
                                        <div class="input-field">
                                            <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                            <!-- <label style="color:#964B00">Email:</label> -->
                                            <input formControlName="email" type="text" placeholder="Email">
                                        </div>
                                        <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')"  
                              class="text-danger form-inline  mt-0">*email is required</small>
                              <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('pattern','email')"  
                              class="text-danger form-inline  mt-0">*email is invalid</small>
                                        
                                    </div>
                               </div>
                                <div class="col-md-4">
                                    <div class="input-group mb-1">
                                        <div class="input-field">
                                            <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                            <!-- <label style="color:#964B00">UserName:</label> -->
                                            <input formControlName="phonenumber" type="text" placeholder="Phonenumber">
                                        </div>
                                        <small *ngIf="signupForm.controls['phonenumber'].dirty && signupForm.hasError('required','phonenumber')"  
                              class="text-danger form-inline  mt-0">*phonenumber is required</small>
                              <small *ngIf="signupForm.controls['phonenumber'].dirty && signupForm.hasError('pattern','phonenumber')"  
                              class="text-danger form-inline  mt-0">*phonenumber is invalid</small>
                                        
                                    </div>                                    
                                </div>                                
                            </div>
                            <div class="form-group pt-1 row justify-content-around">
                                <div class="col-md-4">
                                    <div class="input-group mb-1">
                                        <div class="input-field">
                                            <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                            <!-- <label style="color:#964B00">Password:</label> -->
                                            <input formControlName="password" type="password" placeholder="Password">
                                        </div>
                                        <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')"  
                              class="text-danger form-inline  mt-0">*password is required</small>
                              <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('pattern','password')"  
                              class="text-danger form-inline  mt-0">*password is invalid</small>
                                        
                                    </div>
                               </div>
                                <div class="col-md-4">
                                    <div class="input-group mb-1">
                                        <div class="input-field">
                                            <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                            <!-- <label style="color:#964B00">ConfirmPassword:</label> -->
                                            <input  formControlName="confirmpassword" type="password"  placeholder="ConfirmPassword">
                                        </div>
                                        <small *ngIf="signupForm.controls['confirmpassword'].dirty && signupForm.hasError('required','confirmpassword')"  
                              class="text-danger form-inline  mt-0">*confirmpassword is required</small>
                              <small *ngIf="signupForm.controls['confirmpassword'].dirty && signupForm.hasError('pattern','confirmpassword')"  
                              class="text-danger form-inline  mt-0">*confirmpassword is required</small>
                              <small class="text-danger form-inline  mt-0" *ngIf="signupForm.errors?.['passwordmatcherror']">Password does not match </small>
                                        
                                        
                                    </div>                                    
                                </div>                                
                            </div>
                            <div class="form-group pt-1 row justify-content-around">
                                <div class="col-md-4">
                                    <div class="input-group mb-1">
                                        <div class="input-field">
                                            <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                            <!-- <label style="color:#964B00">Password:</label> -->
                                            <input formControlName="username" type="text" placeholder="UserName">
                                        </div>
                                        <small *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username')"  
                              class="text-danger form-inline  mt-0">*username is required</small>
                              <small *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('pattern','username')"  
                              class="text-danger form-inline  mt-0">*Username is invalid</small>
                                        
                                    </div>
                               </div>
                                 <div class="col-md-4">
                                    <div class="input-group mb-1">
                                        <!-- <div class="input-field">
                                          <span class="fa fa-user p-2" style="color:#964B00"></span>  
                                            <label style="color:#964B00">ConfirmPassword:</label>  
                                            <input  formControlName="confirmpassword" type="text"  placeholder="ConfirmPassword">
                                        </div>
                                        <small *ngIf="signupForm.controls['confirmpassword'].dirty && signupForm.hasError('required','confirmpassword')"  
                              class="text-danger form-inline  mt-0">*confirmpassword is required</small> -->
                                        
                                    </div>                                    
                                </div>                             
                            </div>
                       
                          <div class="col-lg-10 ml-5"  > 
                            <button [disabled]=signupForm.invalid type="submit" class="btn btn-outline btn-block mt-3 w-60 " style="color:#964B00 ;background-color: #efc96a;align-items: center;">Signup</button></div>  
                            <div class="text-center pt-2 text-muted" >Already have an account? <a id="forgot"  routerLink="/login" style="color:#964B00">Login</a> </div>
                        </form>
                    </div>
                   
                </div>
            </div>

        </div>
    </div>
</div>

