<div class="outer">
    <div>
        <app-navbar></app-navbar>
    </div>
    <div>
        <div class="container mt-2">
          
              <div class="row">
                <div class="col-lg-6">
                    <img src="assets/hotelrooms2.jpg" style="width:600px;height:200px; ">
                </div>
                <div class="col-lg-6">
                    <img src="assets/hotelrooms1.jpg" style="width:550px;height:200px; ">
                </div>
              </div>
              <!-- <div class="container"> -->
                <div class="row">
              <div class="col-lg-6">
                <h3 style="color:#964B00">Facilities</h3>
              
              <ul type="square" style="color:rgba(255, 0, 195, 0.879);">
               <li> <h5 style="color:#964B00">*24 Hours Check-Out</h5>
               </li>
               <li> <h5 style="color:#964B00">I.C Locking system for better safety</h5></li>
               <li> <h5 style="color:#964B00">Living with sofa and tea poi</h5></li>
               <li> <h5 style="color:#964B00">Refrigerator @ Dining table for each flat</h5></li>
               <li> <h5 style="color:#964B00"> Lift</h5></li>
               <li> <h5 style="color:#964B00">Car Packing</h5></li>
             </ul>
              
            </div>
              
              <div class="col-lg-6"><br>
              
                <ul type="square" style="color:rgba(255, 0, 195, 0.879);">
                    <li> <h5 style="color:#964B00">2A/C @ 3A/C Bedrooms flats</h5>
                    </li>
                    <li> <h5 style="color:#964B00">24Hours Hot and Cold Water</h5>
                    </li>
                    <li> <h5 style="color:#964B00">Modular kitchen with induction stove and utensis</h5>
                    </li>
                    <li> <h5 style="color:#964B00">Same day loundry</h5>
                    </li>
                    <li> <h5 style="color:#964B00">Travel Desk</h5>
                    </li>
                    <li> <h5 style="color:#964B00">Separate stay for drivers with toilets</h5>
                    </li>
                </ul>
              </div>
              </div>
    </div>
</div>
