.outer{
  // height:100vh;
   background-image: var(--primary);
  //  min-height: 100vh; 
}
.container-fluid{
  background-color: #ffff;
  border-radius: 0.3rem;
  box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
  border-radius: 4px;
  background-color: var(--primary);
}

.shadowed-image {
  border-radius: 10px; /* Slight rounded corners */
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.2)); /* Soft shadow */
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;
  object-fit: cover;  
}
.btn{
    // background-image: linear-gradient(45deg, #9cbfe2 0%, rgb(206, 199, 223) 100%);
    background-image: var(--primary);
    // margin-top: 30px;
    color: var(--text-color);
    // margin-bottom: 30px;
}
.btn:hover {
    // background-color: #04AA6D;
    color:var(--hover);
  }
  // h4:hover {
  //   // background-color: #04AA6D;
  //   color:var(--secondary);
  // }
  h1{
    color:var(--text-color);text-align: center;margin-top: 1%;font-weight: bold;
  }
  h3{
    color:var(--text-color);
  }
  i{
    color:var(--text-color);font-size:24px;
  }
  .text-center{
    color:var(--text-color);text-align: center;margin-bottom: 30px;
  }
  .form-box-style{
    background-image: var(--primary);
    border-radius: 10px; /* Slight rounded corners */
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.2)); /* Soft shadow */
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    object-fit: cover;  
}