.outer{
  // height:100vh;
   background-image: var(--primary);
   min-height: 100vh; 
}
.container-fluid{
  background-color:var(--primary);
  border-radius: 0.3rem;
  box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
  border-radius: 4px;
  background-color: var(--primary);
}

  // mat-paginator{
  //   background-color:var(--secondary);
  // }
 
h4,p{
  color: var(--text-color); 
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
th, td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: white;
  color: var(--text-color);
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f1e4db;
}
@media (max-width: 768px) {
  table {
      font-size: 0.9em;
  }
  th, td {
      padding: 10px;
  }
}


@media (max-width: 768px) {
  .fullscreen-paginator {
    // position: fixed;       /* Fix it to the viewport */
    top: 0;                /* Start at the top */
    left: 0;               /* Align to the left */
    width: 180%;           /* Full width */
    height: 180%;          /* Full height */
    z-index: 1000;         /* Ensure it is on top of other elements */
    margin: 0;             /* Remove any margins */
    padding: 0;            /* Remove any padding */
    background-color: var(--secondary); /* Apply the desired background color */
    box-sizing: border-box; /* Ensure padding is included in height/width */
    overflow: hidden;      /* Prevent scrolling overflow */
  }

  /* Ensure paginator content stretches */
  mat-paginator .mat-paginator-container {
    height: 100%;          /* Fill the full height */
    display: flex;         /* Use flexbox for alignment */
    flex-direction: column; /* Stack the content */
    justify-content: center; /* Center the paginator items vertically */
    align-items: center;   /* Center the paginator items horizontally */
    background-color:var(--secondary);
  }
}