<div class="outer">
    <app-navbar></app-navbar>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <!-- Toggler Button for Mobile View -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Corrected ID to match the data-bs-target -->
  <div class="collapse navbar-collapse text-brown" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <!-- <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/home">HOME</button> -->
                  <a   class="nav-link"  style="color:#964B00" routerLink="/mybookings">My Bookings </a>
                </li>
                <li class="nav-item active">
                  <!-- <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/fooditem">FOOD</button> -->
                  <a class="nav-link " href="#" style="color:#964B00" routerLink="/cancelbooking">Canceled Bookings</a>
                </li>

                <li class="nav-item active">
                    <!-- <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/facitilies">FACITILIES</button> -->
                  <a class="nav-link" href="#" style="color:#964B00" routerLink="/profiledetails">Profile Details</a>
                </li>
               
                <li class="nav-item active">
                    <!-- <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" routerLink="/tariff">TARIFF</button> -->
                  <a class="nav-link " href="#" style="color:#964B00" routerLink="/changepassword">Change Password</a>
                </li>
                
                  
              </ul>
              
                
            
            </div>
          </nav>
          <div class="text-center" >
            <h4 class="text-brown" style="font-size: 30px;" >Cancelled Bookings </h4>
           <!-- <p>Review your canceled bookings and manage your records </p> -->
          </div>
          <div class="tbl-container pt-2">
          <div class="table-responsive" >
            <table  >
              <thead>
                <tr>
                  <th class="align-middle " rowspan="2">BookingId</th>
                  <th class="align-middle " rowspan="2">Check-In</th>
                  <th class="align-middle " rowspan="2">Check-Out</th>
                  <th class="align-middle " rowspan="2">Adult Count</th>
                  <th class="align-middle " rowspan="2">Child Count</th>
                  <th class="align-middle " colspan="3">Flat Type</th>
                  <th class="align-middle "rowspan="2">Allotted Flat</th>
                  <th class="align-middle " rowspan="2">Total </th>
                  
                  <!-- <th style="border-color: #964B00; color:#964B00;" scope="col">Option</th> -->
                </tr>
                <tr >
                    
                  <th>1BHK</th>
                  <th>2BHK</th>
                  <th>3BHK</th>
                 
              </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let i of dataObs$ | async">
                  <td class="align-middle " >{{i.bookingid}}
                  <td class="align-middle " >{{i.checkin | date:'dd-MM-yyyy HH:mm '}}
                  <td class="align-middle " >{{i.checkout | date:'dd-MM-yyyy HH:mm '}}
                  <td class="align-middle " >{{i.adults}}
                  <td class="align-middle " >{{i.child}}
                  <td class="align-middle " >{{i.bhk1count}}
                  <td class="align-middle " >{{i.bhk2count}}
                  <td class="align-middle " >{{i.bhk3count}}
                  <td class="align-middle " >{{i.roomid}}
                  <td class="align-middle " >{{i.totalprice}}
                 
                  <!-- <td class="align-middle " style="border-color: #964B00;"> <a >View/</a><a  (click)="cancelBooking(i.bookingid)">Cancel</a> -->
                    
                    
                   
              </tbody>
             
            </table>
         </div>
            <div class="page">
              
              <mat-paginator 
              #paginator
                [pageSizeOptions]="[5,10,15]" 
                [pageSize]="5"

                showFirstLastButtons
               
                >
        </mat-paginator>
            </div>
            
      </div>    
  
    </div>
     <!-- footer -->
     <footer class="  py-1">
      <!-- <div class="container">
        <p class="text-black"> Stashook Technologies Private Ltd</p>
        
      </div> -->
      <app-footer></app-footer>
    </footer>
</div>