<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-2">
                <!-- offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3 -->
                <div class="panel border bg-white ">
                    <div class="panel-heading">

                        <h3 class="pt-3 font-weight-bold" style="color:#964B00">
                            Forgot Password?
                        </h3>
                    </div>  
                
                    <div class="panel-body p-3">
                        <div class="form-group pt-3">
                            <div class="description">{{description}}</div>
                        </div>
                        <form [formGroup]="emailverificationform" (ngSubmit)="verifyemail()">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-envelope p-2" style="color:#964B00"></span>
                                    <!-- <label style="color:#964B00">UserName</label> -->
                                    <input formControlName="email" required type="text" placeholder="Email" >
                                    <!-- placeholder="UserName" -->
                                </div>
                            </div>
                            <button [disabled]=emailverificationform.invalid type="submit"
                                class="btn btn-outline btn-block mt-4 w-100"
                                style="color:#964B00 ;background-color: #efc96a;">Send OTP</button>
                            </form>
                    <!-- <mat-stepper #stepper>
                        <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
                            <form [formGroup]="firstFormGroup">
                                <ng-template matStepLabel>Fill out your name</ng-template>
                                <mat-form-field>
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="Last name, First name" formControlName="firstCtrl"
                                        required>
                                </mat-form-field>
                                <div>
                                    <p>Go to a different step to see the error state</p>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
                            <form [formGroup]="secondFormGroup">
                                <ng-template matStepLabel>Fill out your address</ng-template>
                                <mat-form-field>
                                    <mat-label>Address</mat-label>
                                    <input matInput placeholder="Ex. 1 Main St, New York, NY"
                                        formControlName="secondCtrl" required>
                                </mat-form-field>
                                <div>
                                    <p>Go to a different step to see the error state</p>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>Done</ng-template>
                            <p>You are now done.</p>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button (click)="stepper.reset()">Reset</button>
                            </div>
                        </mat-step>
                    </mat-stepper> -->
               
            </div>
        </div>
    </div>
</div>