<div class="outer">
    <app-header></app-header>
    <div class="container">
        <div class="card ">
            <div class="text-center ">
                <h1>Walking in Current</h1>

                <form [formGroup]="walkingCurrentForm" (ngSubmit)="walkingCurrentFormProcess()">
                    <!-- (ngSubmit)="walkingCurrentFormProcess()"> -->
                    <div class="form-group pt-0 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">FirstName<span class="text-danger">*</span></label>
                                    <input formControlName="firstname" type="text" placeholder="FirstName">
                                </div>
                                <small style="margin-left: 3px;"
                                    *ngIf="walkingCurrentForm.controls['firstname'].dirty && walkingCurrentForm.hasError('required','firstname')"
                                    class="text-danger form-inline  ">*firstname is required</small>
                                <small
                                    *ngIf="walkingCurrentForm.controls['firstname'].dirty && walkingCurrentForm.hasError('pattern','firstname')"
                                    class="text-danger form-inline ">*firstName is invalid</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">LastName</label>
                                    <input formControlName="lastname" type="text" placeholder="LastName">
                                </div>
                                <small
                                    *ngIf="walkingCurrentForm.controls['lastname'].dirty && walkingCurrentForm.hasError('required','lastname')"
                                    class="text-danger form-inline  ">*lastName is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">Email<span class="text-danger">*</span></label>
                                    <input #email formControlName="email" type="text" placeholder="Email">
                                </div>
                                <small
                                    *ngIf="walkingCurrentForm.controls['email'].dirty && walkingCurrentForm.hasError('required','email')"
                                    class="text-danger form-inline ">*email is required</small>
                                <small
                                    *ngIf="walkingCurrentForm.controls['email'].dirty && walkingCurrentForm.hasError('pattern','email')"
                                    class="text-danger form-inline ">*email is invalid</small>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">Phonenumber<span class="text-danger">*</span></label>
                                    <input #phone formControlName="phonenumber" type="text" placeholder="PhoneNumber">
                                    <span> <i style="font-size: 20px; margin-top: 20px;margin-left: 5px;color:#964B00"
                                            class="fa sharp fa-solid fa-check"
                                            (click)="checkemail(phone.value)"></i></span>
                                </div>
                                <small
                                    *ngIf="walkingCurrentForm.controls['phonenumber'].dirty && walkingCurrentForm.hasError('required','phonenumber')"
                                    class="text-danger form-inline ">*phonenumber is required</small>
                                <small
                                    *ngIf="walkingCurrentForm.controls['phonenumber'].dirty && walkingCurrentForm.hasError('pattern','phonenumber')"
                                    class="text-danger form-inline  ">*phonenumber is invalid</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">Address1<span class="text-danger">*</span></label>
                                    <input formControlName="address1" type="text" placeholder="Address1">
                                </div>
                                <small
                                    *ngIf="walkingCurrentForm.controls['address1'].dirty && walkingCurrentForm.hasError('required','address1')"
                                    class="text-danger form-inline  ">*address1 is required</small>
                                <small
                                    *ngIf="walkingCurrentForm.controls['address1'].dirty && walkingCurrentForm.hasError('pattern','address1')"
                                    class="text-danger form-inline  ">*Address1 is invalid</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">Address2</label>
                                    <input formControlName="address2" type="text" placeholder="Address2">
                                </div>
                                <small
                                    *ngIf="walkingCurrentForm.controls['address2'].dirty && walkingCurrentForm.hasError('required','address2')"
                                    class="text-danger form-inline ">*address2 is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">City</label>
                                    <input formControlName="city" type="text" placeholder="City">
                                </div>
                                <small
                                    *ngIf="walkingCurrentForm.controls['city'].dirty && walkingCurrentForm.hasError('required','city')"
                                    class="text-danger form-inline ">*city is required</small>
                                <small
                                    *ngIf="walkingCurrentForm.controls['city'].dirty && walkingCurrentForm.hasError('pattern','city')"
                                    class="text-danger form-inline ">*city is invalid</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">State</label>
                                    <input formControlName="state" type="text" placeholder="State">
                                </div>
                                <small
                                    *ngIf="walkingCurrentForm.controls['state'].dirty && walkingCurrentForm.hasError('required','state')"
                                    class="text-danger form-inline  ">*state is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">Country</label>
                                    <input formControlName="country" type="text" placeholder="Country">
                                </div>
                                <small
                                    *ngIf="walkingCurrentForm.controls['country'].dirty && walkingCurrentForm.hasError('required','country')"
                                    class="text-danger form-inline  ">*country is required</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">pincode</label>
                                    <input formControlName="pincode" type="text" placeholder="Postal code">
                                </div>
                                <small
                                    *ngIf="walkingCurrentForm.controls['pincode'].dirty && walkingCurrentForm.hasError('required','pincode')"
                                    class="text-danger form-inline ">*pincode is required</small>
                                    <small
                                    *ngIf="walkingCurrentForm.controls['pincode'].dirty && walkingCurrentForm.hasError('pattern','pincode')"
                                    class="text-danger form-inline ">*pincode is invalid</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 ml-5">

                        <button  type="submit"
                            class="btn btn-light btn-elevate mr-2 margin-left">
                            Submit</button>
                    </div>
                </form>
                <div>
                <form [formGroup]="walkingRoomCheck" (ngSubmit)="walkingRoomCheckProcess()">

                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">From<span class="text-danger">*</span></label>
                                    <input formControlName="checkin" type="datetime-local" #input [(ngModel)]="Todaydate"
                                        [min]="Todaydate" placeholder="From">
                                </div>
                                <!-- <small *ngIf="walkingCurrentForm.controls['from'].dirty && walkingCurrentForm.hasError('required','from')"
                                                class="text-danger form-inline mt-0 ">*form is required</small> -->

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">To<span class="text-danger">*</span></label>
                                    <input formControlName="checkout" type="datetime-local" [(ngModel)]="outDate"
                                        [min]="outDate" placeholder="To">
                                </div>
                                <!-- <small *ngIf="walkingCurrentForm.controls['to'].dirty && walkingCurrentForm.hasError('required','to')"
                                                class="text-danger form-inline mt-0 ">*to is required</small> -->
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">Adult<span class="text-danger">*</span></label>
                                    <input formControlName="adult" type="number" class="adultInput" placeholder="Adult"
                                        value="1" min="1" max="" />
                                </div>
                                <small
                                    *ngIf="walkingRoomCheck.controls['adult'].dirty && walkingRoomCheck.hasError('required','adult')"
                                    class="text-danger form-inline mt-0 ">*adult is required</small>
                                <small
                                    *ngIf="walkingRoomCheck.controls['adult'].dirty && walkingRoomCheck.hasError('pattern','adult')"
                                    class="text-danger form-inline mt-0 ">*adult is invalid</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">Children<small style="margin-left: 0px;">(0-9years)</small></label>
                                    <input formControlName="children" (change)="ValueEntered(childVal.value)" #childVal
                                        (click)="clickon()" placeholder="Children" type="number" value="0" min="0"
                                        max="6" style="width:170px" />
                                    <ng-container *ngIf="visible">
                                        <div class="card" style="width: 15rem;margin-left: 100px;">
                                            <ul class="list-group list-group-flush">
                                                <li *ngFor="let array of samArray;let i = index"
                                                    class="list-group-item">Age of Child{{array}}
                                                    <select style="margin-left: 10px;" #age
                                                        (change)="onSelected(age.value,array)">
                                                        <!-- #age (change)="onSelected(age.value)" -->
                                                        <option>--</option>
                                                        <option *ngFor="let item of childAge ;let z = index"
                                                            [value]="item">{{item}}</option>
                                                    </select>

                                                </li>
                                            </ul>
                                        </div>
                                    </ng-container>
                                </div>
                                <small
                                    *ngIf="walkingRoomCheck.controls['children'].dirty && walkingRoomCheck.hasError('required','children')"
                                    class="text-danger form-inline mt-0 ">*children is required</small>
                                <small
                                    *ngIf="walkingRoomCheck.controls['children'].dirty && walkingRoomCheck.hasError('max','children')"
                                    class="text-danger form-inline mt-0 ">*children is invalid</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-10">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">RoomType</label>

                                    <select formControlName="roomtype" type="text" placeholder="RoomType">
                                        <option value="0">--Select--</option>
                                        <option *ngFor="let types of visibleRoom" [value]="types.roomtypeid">
                                            {{types.roomcategory}}</option>
                                        <!-- <option value="2">Rooms</option> -->
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>




                    <div class="col-lg-10 ml-5">

                        <button  type="submit"
                            class="btn btn-light btn-elevate mr-2 margin-left">
                            Check Availability</button>
                    </div>
                </form>
                </div>
            </div>

        </div>
    </div>

</div>