<div class="outer">
    <app-header></app-header>
    <div class="container">
        <div class="card ">
            <div class="text-center ">
                <h1>Walking in Current</h1>                          
                        
                            <form [formGroup]="WalkingcurrentForm" (ngSubmit)="WalkingcurrentFormProcess()">
                                <div class="form-group pt-0 row justify-content-around">
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">FirstName<span class="text-danger">*</span></label>
                                                <input formControlName="firstName"type="text" placeholder="FirstName">
                                                </div>
                                            <small *ngIf="WalkingcurrentForm.controls['firstName'].dirty && WalkingcurrentForm.hasError('required','firstName')"
                                                class="text-danger form-inline mt-0 ">*firstName is required</small>
                                        </div>
                                   </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">LastName</label>
                                                <input formControlName="lastName" type="text" placeholder="LastName">
                                            </div>
                                            <small *ngIf="WalkingcurrentForm.controls['lastName'].dirty && WalkingcurrentForm.hasError('required','lastName')"
                                                class="text-danger form-inline mt-0 ">*lastName is required</small>
                                        </div>                                    
                                    </div>                                
                                </div>
                                <div class="form-group pt-1 row justify-content-around">
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Email<span class="text-danger">*</span></label>
                                                <input formControlName="email"type="text" placeholder="Email">
                                            </div>
                                            <small *ngIf="WalkingcurrentForm.controls['email'].dirty && WalkingcurrentForm.hasError('required','email')"
                                                class="text-danger form-inline mt-0 ">*email is required</small>
                                        </div>
                                   </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Phonenumber<span class="text-danger">*</span></label>
                                                <input formControlName="phonenumber"type="text" placeholder="PhoneNumber">
                                            </div>
                                            <small *ngIf="WalkingcurrentForm.controls['phonenumber'].dirty && WalkingcurrentForm.hasError('required','phonenumber')"
                                                class="text-danger form-inline mt-0 ">*phonenumber is required</small>
                                        </div>                                    
                                    </div>                                
                                </div>
                                <div class="form-group pt-1 row justify-content-around">
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Address1<span class="text-danger">*</span></label>
                                                <input formControlName="address1" type="text" placeholder="Address1">
                                            </div>
                                            <small *ngIf="WalkingcurrentForm.controls['address1'].dirty && WalkingcurrentForm.hasError('required','address1')"
                                                class="text-danger form-inline mt-0 ">*address1 is required</small>
                                        </div>
                                   </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Address2</label>
                                                <input formControlName="address2" type="text" placeholder="Address2">
                                            </div>
                                            <small *ngIf="WalkingcurrentForm.controls['address2'].dirty && WalkingcurrentForm.hasError('required','address2')"
                                                class="text-danger form-inline mt-0 ">*address2 is required</small>
                                        </div>                                    
                                    </div>                                
                                </div>
                                <div class="form-group pt-1 row justify-content-around">
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">City</label>
                                                <input formControlName="city" type="text" placeholder="City" >
                                            </div>
                                            <small *ngIf="WalkingcurrentForm.controls['city'].dirty && WalkingcurrentForm.hasError('required','city')"
                                                class="text-danger form-inline mt-0 ">*city is required</small>
                                        </div>
                                   </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">State</label>
                                                <input formControlName="state"  type="text" placeholder="State" >
                                            </div>
                                            <small *ngIf="WalkingcurrentForm.controls['state'].dirty && WalkingcurrentForm.hasError('required','state')"
                                                class="text-danger form-inline mt-0 ">*state is required</small>
                                        </div>                                    
                                    </div>                                
                                </div>
                                <div class="form-group pt-1 row justify-content-around">
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Country</label>
                                                <input formControlName="country" type="text" placeholder="Country">
                                            </div>
                                            <small *ngIf="WalkingcurrentForm.controls['country'].dirty && WalkingcurrentForm.hasError('required','country')"
                                                class="text-danger form-inline mt-0 ">*country is required</small>
                                        </div>
                                   </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Postalcode</label>
                                                <input formControlName="postalcode" type="text" placeholder="Postal code">
                                            </div>
                                            <!-- <small *ngIf="WalkingcurrentForm.controls['postalcode'].dirty && WalkingcurrentForm.hasError('required','postalcode')"
                                                class="text-danger form-inline mt-0 ">*postalcode is required</small> -->
                                        </div>                                    
                                    </div>                                
                                </div>
                                <div class="form-group pt-1 row justify-content-around">
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">  
                                                 <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">From<span class="text-danger">*</span></label>
                                                <input  formControlName="from" type="datetime-local" #input ([ngModel])="values" (change)="onChange(input.value)" min="{{min}}" placeholder="From">
                                            </div>
                                            <small *ngIf="WalkingcurrentForm.controls['from'].dirty && WalkingcurrentForm.hasError('required','from')"
                                                class="text-danger form-inline mt-0 ">*from is required</small>
                                        
                                        </div>                                    
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">To<span class="text-danger">*</span></label>
                                                <input  formControlName="to" type="datetime-local"  placeholder="To">
                                            </div>
                                            <small *ngIf="WalkingcurrentForm.controls['to'].dirty && WalkingcurrentForm.hasError('required','to')"
                                                class="text-danger form-inline mt-0 ">*to is required</small>
                                        </div>                                    
                                    </div>
                                </div>
                                <div class="form-group pt-1 row justify-content-around">
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Adults<span class="text-danger">*</span></label>
                                                <input formControlName="adults" type="text" placeholder="Adults">
                                            </div>
                                            <small *ngIf="WalkingcurrentForm.controls['adults'].dirty && WalkingcurrentForm.hasError('required','adults')"
                                                class="text-danger form-inline mt-0 ">*adults is required</small>
                                        </div>
                                   </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Children</label>
                                                <input  formControlName="children" type="text"  placeholder="Children">
                                            </div>
                                            <small *ngIf="WalkingcurrentForm.controls['children'].dirty && WalkingcurrentForm.hasError('required','Children')"
                                                class="text-danger form-inline mt-0 ">*children is required</small>
                                        </div>                                    
                                    </div>
                                </div>  
                                <div class="form-group pt-1 row justify-content-around">
                                    <div class="col-md-10">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">RoomType</label>
                                                
                                                <select formControlName="roomType" type="text" placeholder="RoomType">
                                                    <option value="0">--Select--</option>  
                                                    <option value="1" *ngFor="let types of visibleRoom">{{types.roomcategory}}</option>
                                                    <!-- <option value="2">Rooms</option> -->
                                                  </select>
                                            </div>
                                            
                                        </div>
                                   </div> 
                                </div>             
                                                                  
    
                                                     
                           
                              <div class="col-lg-10 ml-5" > 
                                
                                <button type="submit" class="btn btn-light btn-elevate mr-2 margin-left" >
                                    Check</button>
                              </div>
                            </form>
                        </div>
                       
                    </div>
                </div>
    
            </div>
       
    
    
    
    




