<div class="outer">
    <app-header></app-header>
    <div class="container">
        <div class="card ">
            <div class="text-center ">
                <h1>Walking in Current</h1>                          
                        
                            <form [formGroup]="walkingCurrentForm" (ngSubmit)="walkingCurrentFormProcess()">
                            <!-- (ngSubmit)="walkingCurrentFormProcess()"> -->
                                <div class="form-group pt-0 row justify-content-around">
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">FirstName<span class="text-danger">*</span></label>
                                                <input formControlName="firstname"type="text" placeholder="FirstName">                                                
                                                </div>
                                                <small *ngIf="walkingCurrentForm.controls['firstname'].dirty && walkingCurrentForm.hasError('required','firstname')"
                                                class="text-danger form-inline mt-0 ml-5 ">*firstName is required</small>
                                                
                                        </div>
                                   </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">LastName</label>
                                                <input formControlName="lastname" type="text" placeholder="LastName">
                                            </div>
                                            <small *ngIf="walkingCurrentForm.controls['lastname'].dirty && walkingCurrentForm.hasError('required','lastname')"
                                                class="text-danger form-inline mt-0 ml-5">*lastName is required</small>
                                        </div>                                    
                                    </div>                                
                                </div>
                                <div class="form-group pt-1 row justify-content-around">
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Email<span class="text-danger">*</span></label>
                                                <input formControlName="email"type="text" placeholder="Email">
                                            </div>
                                            <small *ngIf="walkingCurrentForm.controls['email'].dirty && walkingCurrentForm.hasError('required','email')"
                                                class="text-danger form-inline mt-0 ml-5">*email is required</small>
                                            <small *ngIf="walkingCurrentForm.controls['email'].dirty && walkingCurrentForm.hasError('pattern','email')"  
                                                class="text-danger form-inline  mt-0  ml-5">*Email is invalid</small>
                                        </div>
                                   </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Phonenumber<span class="text-danger">*</span></label>
                                                <input formControlName="phonenumber"type="text" placeholder="PhoneNumber">
                                            </div>
                                            <small *ngIf="walkingCurrentForm.controls['phonenumber'].dirty && walkingCurrentForm.hasError('required','phonenumber')"
                                                class="text-danger form-inline mt-0 ml-5 ">*phonenumber is required</small>
                                            <small *ngIf="walkingCurrentForm.controls['phonenumber'].dirty && walkingCurrentForm.hasError('pattern','phonenumber')"  
                                                class="text-danger form-inline  mt-0  ml-5">*Phonenumber is invalid</small>
                                        </div>                                    
                                    </div>                                
                                </div>
                                <div class="form-group pt-1 row justify-content-around">
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Address1<span class="text-danger">*</span></label>
                                                <input formControlName="address1" type="text" placeholder="Address1">
                                            </div>
                                            <small *ngIf="walkingCurrentForm.controls['address1'].dirty && walkingCurrentForm.hasError('required','address1')"
                                                class="text-danger form-inline mt-0 ml-5">*address1 is required</small>
                                        </div>
                                   </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Address2</label>
                                                <input formControlName="address2" type="text" placeholder="Address2">
                                            </div>
                                            <small *ngIf="walkingCurrentForm.controls['address2'].dirty && walkingCurrentForm.hasError('required','address2')"
                                                class="text-danger form-inline mt-0 ml-5">*address2 is required</small>
                                        </div>                                    
                                    </div>                                
                                </div>
                                <div class="form-group pt-1 row justify-content-around">
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">City</label>
                                                <input formControlName="city" type="text" placeholder="City" >
                                            </div>
                                            <small *ngIf="walkingCurrentForm.controls['city'].dirty && walkingCurrentForm.hasError('required','city')"
                                                class="text-danger form-inline mt-0 ml-5">*city is required</small>
                                        </div>
                                   </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">State</label>
                                                <input formControlName="state"  type="text" placeholder="State" >
                                            </div>
                                            <small *ngIf="walkingCurrentForm.controls['state'].dirty && walkingCurrentForm.hasError('required','state')"
                                                class="text-danger form-inline mt-0 ml-5 ">*state is required</small>
                                        </div>                                    
                                    </div>                                
                                </div>
                                <div class="form-group pt-1 row justify-content-around">
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Country</label>
                                                <input  formControlName="country" type="text" placeholder="Country">
                                            </div>
                                            <small *ngIf="walkingCurrentForm.controls['country'].dirty && walkingCurrentForm.hasError('required','country')"
                                                class="text-danger form-inline mt-0 ml-5">*country is required</small>
                                        </div>
                                   </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Pincode</label> 
                                                <input formControlName="pincode" type="text" placeholder="Pincode">
                                            </div>
                                            <small *ngIf="walkingCurrentForm.controls['pincode'].dirty && walkingCurrentForm.hasError('required','pincode')"
                                                class="text-danger form-inline mt-0 ml-5">*postalcode is required</small>
                                            <small *ngIf="walkingCurrentForm.controls['pincode'].dirty && walkingCurrentForm.hasError('pattern','pincode')"  
                                                class="text-danger form-inline  mt-0  ml-5">*Pincode is invalid</small>
                                        </div>                                    
                                    </div>                                
                                </div>
                                <div class="form-group pt-1 row justify-content-around">
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">  
                                                 <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">From<span class="text-danger">*</span></label>
                                                <input  formControlName="from" type="datetime-local" [(ngModel)]="Todaydate" [min]="Todaydate"  placeholder="From">
                                            </div>
                                            <!-- <small *ngIf="walkingCurrentForm.controls['from'].dirty && walkingCurrentForm.hasError('required','from')"
                                                class="text-danger form-inline mt-0 ">*form is required</small> -->
                                        
                                        </div>                                    
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">To<span class="text-danger">*</span></label>
                                                <input formControlName="to" type="datetime-local"  [(ngModel)]="outDate" [min]="outDate" placeholder="To">
                                            </div>
                                            <!-- <small *ngIf="walkingCurrentForm.controls['to'].dirty && walkingCurrentForm.hasError('required','to')"
                                                class="text-danger form-inline mt-0 ">*to is required</small> -->
                                        </div>                                    
                                    </div>
                                </div>
                                <div class="form-group pt-1 row justify-content-around">
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Adults<span class="text-danger">*</span></label>
                                                <input formControlName="adult" type="text" placeholder="Adults">
                                            </div>
                                            <small *ngIf="walkingCurrentForm.controls['adult'].dirty && walkingCurrentForm.hasError('required','adult')"
                                            class="text-danger form-inline mt-0 ml-5 ">*adult is required</small>
                                            <small *ngIf="walkingCurrentForm.controls['adult'].dirty && walkingCurrentForm.hasError('pattern','adult')"  
                                            class="text-danger form-inline  mt-0  ml-5">*Adult is invalid</small>
                                        </div>
                                   </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">Children</label>
                                                <input formControlName="children"   placeholder="Children"  type="number"  value="0"/>
                                            </div>
                                            <small *ngIf="walkingCurrentForm.controls['children'].dirty && walkingCurrentForm.hasError('required','children')"
                                                class="text-danger form-inline mt-0 ">*children is required</small>
                                            <small *ngIf="walkingCurrentForm.controls['children'].dirty && walkingCurrentForm.hasError('pattern','children')"  
                                                class="text-danger form-inline  mt-0  ml-5">*Children is invalid</small>
                                        </div>                                    
                                    </div>
                                </div>  
                                <div class="form-group pt-1 row justify-content-around">
                                    <div class="col-md-10">
                                        <div class="input-group mb-1">
                                            <div class="input-field">
                                                <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                                <label style="color:#964B00">RoomType</label>
                                                
                                                <select formControlName="roomtype" type="text" placeholder="RoomType">
                                                    <option value="0">--Select--</option>  
                                                    <option value="1" *ngFor="let types of visibleRoom">{{types.roomcategory}}</option>
                                                    <!-- <option value="2">Rooms</option> -->
                                                  </select>
                                            </div>
                                            
                                        </div>
                                   </div> 
                                </div>             
                                                                  
    
                                                     
                           
                              <div class="col-lg-10 ml-5" > 
                                
                                <button (click)="walkingCurrentFormProcess()" type="submit" class="btn btn-light btn-elevate mr-2 margin-left" >
                                    Check</button>
                              </div>
                            </form>
                        </div>
                       
                    </div>
                </div>
    
            </div>
       
    
    
    
    




