<div class="outer">
    <app-header></app-header>
    <div class="container">
        <div style="text-align: center;justify-content: center;">
            <button (click)="frontdeskreg()"  class="btn btn-outline " 
            style="color:#964B00 ;background-color: #efc96a;border-radius: 15px;">Register For Frontdesk Officer </button>
        </div>
        <div style="text-align: center;justify-content: center;margin-top: 30px;">
            <button (click)="managerreg()"  class="btn btn-outline " 
            style="color:#964B00 ;background-color: #efc96a;border-radius: 15px;">Register For Manager </button>
        </div>
       
    </div>
   
</div>
