<div class="outer">
    <app-header></app-header>
    <div class="container-fluid">

        <h2  class="mt-1">Flats Maintenance</h2>
        <!-- <div class="tbl-container pt-2"> -->
        <div class="row tbl-fixed table-responsive">

            <table class="table table-borderless text-center">

                <thead>
                    <tr>
                        <th class="align-middle "  rowspan="2">FlatNumber</th>
                        <th class="align-middle "  rowspan="2">RoomNo</th>
                        <th class="align-middle "  rowspan="2">FlatType</th>
                        <th class="align-middle "  rowspan="3">Status</th>
                        <th class="align-middle "  rowspan="2">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let i of dataObs$ | async">
                        <td class="align-middle " >{{i.roomid}}
                        <td class="align-middle " >{{i.roomno}}
                        <td class="align-middle " >{{i.roomname}}
                        <td class="align-middle " >{{i.statusname}}
                        <td class="align-middle " >
                            <i class="fa fa-fw fa-edit" 
                                (click)="editflat(i.roomid,i.roomno,i.roomname,i.statusname)"> </i>
                        </td>
                </tbody>
            </table>


        </div>
        <div class="page">

            <mat-paginator #paginator [pageSizeOptions]="[5,10,15]" [pageSize]="5" showFirstLastButtons>
            </mat-paginator>
        </div>
        <!-- </div> -->


    </div>
</div>