
.outer{
    
     background-image: var(--primary);
     min-height: 100vh; 
}
.container-fluid{
    background-color:var(--primary);
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    background-color: var(--primary);
}

.col-lg-3{
padding: 10px;
}
input{
    color: var(--text-color);
}
    label{
        color: var(--text-color);        
        font-family: 'Times New Roman', Times, serif;
        width: 100px;
    }
    
    
.card{
   
    background-image: var(--primary);
    border: 1px;
    width: 100%;
    padding: 20px;
    position: relative;
    margin-top: 0px;
    
}
.card h1,h6{
    font-size: 30px;    
    color: var(--text-color);
   
}
small{
    margin-left: 10px;
}

.btn-light{
    // background-image: linear-gradient(45deg, #9cbfe2 0%, rgb(206, 199, 223) 100%);
    background-image: var(--primary);
    // margin-top: 30px;
    color: var(--text-color);
  }
  .btn-light:hover {
    color: var(--hover);
    transform: scale(1.05);
    /* Slight zoom effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow */
    transition: all 0.3s ease-in-out;
  }
  
  .form-box-style{
    background-image: var(--primary);
    border-radius: 10px; /* Slight rounded corners */
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.2)); /* Soft shadow */
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    object-fit: cover;  
  }

 