
<div class="outer">

    <app-header></app-header>
    <div class="container">
        <div class="card ">
            <div class="text-center ">
                <h1>Walking in Future</h1>
                <form [formGroup]="WalkingfutureForm" (ngSubmit)="WalkingfutureFormProcess()">
                    <div class="form-group pt-0 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <!-- <label style="color:#964B00">FirstName:</label> -->
                                    <input formControlName="firstName" type="text" placeholder="FirstName*">
                                </div>
                                <small
                                    *ngIf="WalkingfutureForm.controls['firstName'].dirty && WalkingfutureForm.hasError('required','firstName')"
                                    class="text-danger form-inline mt-0 ">*firstName is required</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <!-- <label style="color:#964B00">LastName:</label> -->
                                    <input formControlName="lastName" type="text" placeholder="LastName">
                                </div>
                                <small
                                    *ngIf="WalkingfutureForm.controls['lastName'].dirty && WalkingfutureForm.hasError('required','lastName')"
                                    class="text-danger form-inline mt-0 ">*lastName is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <!-- <label style="color:#964B00">Address1:</label> -->
                                    <input formControlName="email" type="text" placeholder="Email*">
                                </div>
                                <small
                                    *ngIf="WalkingfutureForm.controls['email'].dirty && WalkingfutureForm.hasError('required','email')"
                                    class="text-danger form-inline mt-0 ">*email is required</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <!-- <label style="color:#964B00">Address2:</label> -->
                                    <input formControlName="phonenumber" type="text" placeholder="PhoneNumber*">
                                </div>
                                <small
                                    *ngIf="WalkingfutureForm.controls['phonenumber'].dirty && WalkingfutureForm.hasError('required','phonenumber')"
                                    class="text-danger form-inline mt-0 ">*phonenumber is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <!-- <label style="color:#964B00">City:</label> -->
                                    <input formControlName="address1" type="text" placeholder="Address1">
                                </div>
                                <small
                                    *ngIf="WalkingfutureForm.controls['address1'].dirty && WalkingfutureForm.hasError('required','address1')"
                                    class="text-danger form-inline mt-0 ">*address1 is required</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <!-- <label style="color:#964B00">State:</label> -->
                                    <input formControlName="address2" type="text" placeholder="Address2">
                                </div>
                                <small
                                    *ngIf="WalkingfutureForm.controls['address2'].dirty && WalkingfutureForm.hasError('required','address2')"
                                    class="text-danger form-inline mt-0 ">*address2 is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <!-- <label style="color:#964B00">Country:</label> -->
                                    <input formControlName="city" type="text" placeholder="City">
                                </div>
                                <small
                                    *ngIf="WalkingfutureForm.controls['city'].dirty && WalkingfutureForm.hasError('required','city')"
                                    class="text-danger form-inline mt-0 ">*city is required</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <!-- <label style="color:#964B00">PhoneNumber:</label> -->
                                    <input formControlName="state" type="text" placeholder="State">
                                </div>
                                <small
                                    *ngIf="WalkingfutureForm.controls['state'].dirty && WalkingfutureForm.hasError('required','state')"
                                    class="text-danger form-inline mt-0 ">*state is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <!-- <label style="color:#964B00">Email:</label> -->
                                    <input formControlName="country" type="text" placeholder="Country">
                                </div>
                                <small
                                    *ngIf="WalkingfutureForm.controls['Country'].dirty && WalkingfutureForm.hasError('required','Country')"
                                    class="text-danger form-inline mt-0 ">*country is required</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <!-- <label style="color:#964B00">UserName:</label> -->
                                    <input formControlName="postalcode" type="text" placeholder="Postal code*">
                                </div>
                                <small
                                    *ngIf="WalkingfutureForm.controls['postalcode'].dirty && WalkingfutureForm.hasError('required','postalcode')"
                                    class="text-danger form-inline mt-0 ">*postalcode is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <!-- <label style="color:#964B00">ConfirmPassword:</label> -->
                                    <input formControlName="from" type="datetime-local" #input ([ngModel])="values"
                                        (change)="onChange(input.value)" min="{{min}}" placeholder="From*">
                                </div>
                                <small
                                    *ngIf="WalkingfutureForm.controls['from'].dirty && WalkingfutureForm.hasError('required','from')"
                                    class="text-danger form-inline mt-0 ">*from is required</small>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <!-- <label style="color:#964B00">ConfirmPassword:</label> -->
                                    <input formControlName="to" type="datetime-local" placeholder="To*">
                                </div>
                                <small
                                    *ngIf="WalkingfutureForm.controls['to'].dirty && WalkingfutureForm.hasError('required','to')"
                                    class="text-danger form-inline mt-0 ">*to is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <!-- <label style="color:#964B00">Password:</label> -->
                                    <input formControlName="adults" type="text" placeholder="Adults*">
                                </div>
                                <small
                                    *ngIf="WalkingfutureForm.controls['adults'].dirty && WalkingfutureForm.hasError('required','adults')"
                                    class="text-danger form-inline mt-0 ">*adults is required</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <!-- <label style="color:#964B00">ConfirmPassword:</label> -->
                                    <input formControlName="children" type="text" placeholder="Children*">
                                </div>
                                <small
                                    *ngIf="WalkingfutureForm.controls['children'].dirty && WalkingfutureForm.hasError('required','Children')"
                                    class="text-danger form-inline mt-0 ">*children is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-10">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <!-- <label style="color:#964B00">Password:</label> -->

                                    <select formControlName="roomType" type="text" placeholder="RoomType">
                                        <option value="1">Service Apartment</option>
                                        <option value="2">Rooms</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>




                    <div class="col-lg-10 ml-5">

                        <button type="submit" class="btn btn-light btn-elevate mr-2 margin-left">
                            check</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>