
<div class="outer">

    <app-header></app-header>
    <div class="container">
        <div class="card ">
            <div class="text-center ">
                <h1>Walking in Future</h1>
                                <form [formGroup]="walkingFutureForm"  (ngSubmit)="walkingFutureFormProcess()">
                    <div class="form-group pt-0 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">FirstName<span class="text-danger">*</span></label>
                                    <input formControlName="firstname" type="text" placeholder="FirstName">
                                </div>
                                <small
                                    *ngIf="walkingFutureForm.controls['firstname'].dirty && walkingFutureForm.hasError('required','firstname')"
                                    class="text-danger form-inline mt-0 ml-5 ">*firstName is required</small>
                                    <small
                                    *ngIf="walkingFutureForm.controls['firstname'].dirty && walkingFutureForm.hasError('pattern','firstname')"
                                    class="text-danger form-inline mt-0 ml-5 ">*firstName is invalid</small>
                                   
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">LastName</label>
                                    <input formControlName="lastname" type="text" placeholder="LastName">
                                </div>
                                <small
                                    *ngIf="walkingFutureForm.controls['lastname'].dirty && walkingFutureForm.hasError('required','lastname')"
                                    class="text-danger form-inline mt-0 ml-5 ">*lastName is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">Email<span class="text-danger">*</span></label>
                                    <input formControlName="email" type="text" placeholder="Email">
                                </div>
                                <small
                                    *ngIf="walkingFutureForm.controls['email'].dirty && walkingFutureForm.hasError('required','email')"
                                    class="text-danger form-inline mt-0 ml-5 ">*email is required</small>
                                    <small
                                    *ngIf="walkingFutureForm.controls['email'].dirty && walkingFutureForm.hasError('pattern','email')"
                                    class="text-danger form-inline mt-0 ml-5">*email is invalid</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">PhoneNumber<span class="text-danger">*</span></label>
                                    <input formControlName="phonenumber" type="text" placeholder="PhoneNumber">
                                </div>
                                <small
                                    *ngIf="walkingFutureForm.controls['phonenumber'].dirty && walkingFutureForm.hasError('required','phonenumber')"
                                    class="text-danger form-inline mt-0 ml-5">*phonenumber is required</small>
                                    <small
                                    *ngIf="walkingFutureForm.controls['phonenumber'].dirty && walkingFutureForm.hasError('pattern','phonenumber')"
                                    class="text-danger form-inline mt-0 ml-5">*phonenumber is invalid</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">Address1<span class="text-danger">*</span></label>
                                    <input formControlName="address1" type="text" placeholder="Address1">
                                </div>
                                <small
                                    *ngIf="walkingFutureForm.controls['address1'].dirty && walkingFutureForm.hasError('required','address1')"
                                    class="text-danger form-inline mt-0 ml-5">*address1 is required</small>
                                    <small
                                    *ngIf="walkingFutureForm.controls['address1'].dirty && walkingFutureForm.hasError('pattern','address1')"
                                    class="text-danger form-inline mt-0 ml-5">*Address1 is invalid</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">Address2</label>
                                    <input formControlName="address2" type="text" placeholder="Address2">
                                </div>
                                <small
                                    *ngIf="walkingFutureForm.controls['address2'].dirty && walkingFutureForm.hasError('required','address2')"
                                    class="text-danger form-inline mt-0 m-5">*address2 is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">City</label>
                                    <input formControlName="city" type="text" placeholder="City">
                                </div>
                                <small
                                    *ngIf="walkingFutureForm.controls['city'].dirty && walkingFutureForm.hasError('required','city')"
                                    class="text-danger form-inline mt-0 ml-5">*city is required</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">State</label>
                                    <input formControlName="state" type="text" placeholder="State">
                                </div>
                                <small
                                    *ngIf="walkingFutureForm.controls['state'].dirty && walkingFutureForm.hasError('required','state')"
                                    class="text-danger form-inline mt-0 ml-5">*state is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">Country</label>
                                    <input formControlName="country" type="text" placeholder="Country">
                                </div>
                                <small
                                    *ngIf="walkingFutureForm.controls['Country'].dirty && walkingFutureForm.hasError('required','Country')"
                                    class="text-danger form-inline mt-0 ml-5 ">*country is required</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">pincode</label>
                                    <input formControlName="pincode" type="text" placeholder="Postal code">
                                </div>
                                <small
                                    *ngIf="walkingFutureForm.controls['pincode'].dirty && walkingFutureForm.hasError('required','pincode')"
                                    class="text-danger form-inline mt-0 ml-5 ">*pincode is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">From<span class="text-danger">*</span></label>
                                    <input  formControlName="from" type="datetime-local" #input [(ngModel)]="Todaydate" [min]="Todaydate"  placeholder="From">
                                </div>
                                <!-- <small
                                    *ngIf="walkingfutureForm.controls['from'].dirty && walkingfutureForm.hasError('required','from')"
                                    class="text-danger form-inline mt-0 ml-5">*from is required</small> -->

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">To<span class="text-danger">*</span></label>
                                    <input formControlName="to" type="datetime-local"  [(ngModel)]="outDate" [min]="outDate" placeholder="To">
                                </div>
                                <!-- <small
                                    *ngIf="walkingfutureForm.controls['to'].dirty && walkingfutureForm.hasError('required','to')"
                                    class="text-danger form-inline mt-0 ml-5">*to is required</small> -->
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">Adults<span class="text-danger">*</span></label>
                                    <input formControlName="adults" type="text" placeholder="Adults">
                                </div>
                                <small
                                    *ngIf="walkingFutureForm.controls['adults'].dirty && walkingFutureForm.hasError('required','adults')"
                                    class="text-danger form-inline mt-0 ml-5">*adults is required</small>
                                    <small
                                    *ngIf="walkingFutureForm.controls['adults'].dirty && walkingFutureForm.hasError('pattern','adults')"
                                    class="text-danger form-inline mt-0 ml-5">*adults is invalid</small>
                                   
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">Children</label>
                                    <input formControlName="children"  placeholder="Children"  type="number"  value="0"/>
                                </div>
                                <small
                                    *ngIf="walkingFutureForm.controls['children'].dirty && walkingFutureForm.hasError('required','Children')"
                                    class="text-danger form-inline mt-0 ml-5">*children is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-1 row justify-content-around">
                        <div class="col-md-10">
                            <div class="input-group mb-1">
                                <div class="input-field">
                                    <!-- <span class="fa fa-user p-2" style="color:#964B00"></span> -->
                                    <label style="color:#964B00">RoomType</label>
                                    <select formControlName="roomType" type="text" placeholder="RoomType">
                                        <option value="0">--Select--</option>
                                        <option value="1" *ngFor="let types of visibleRoom">{{types.roomcategory}}</option>
                                        <!-- <option value="2">Rooms</option> -->
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>




                    <div class="col-lg-10 ml-5">

                        <button (click)="walkingFutureFormProcess()"type="submit" class="btn btn-light btn-elevate mr-2 margin-left" >
                            Check</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>