
.outer{
    
     background-image: var(--primary);
     min-height: 100vh; 
}
.container-fluid{
    background-color:var(--primary);
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    background-color: var(--primary);
}

.col-lg-3{
padding: 10px;
}
input{
    color: var(--text-color);
}
    label{
        color: var(--text-color);        
        font-family: 'Times New Roman', Times, serif;
        width: 100px;
    }
    
    .btn{
        
        background-image: var(--primary);
        margin-top: 30px;
        color:var(--text-color);
    }
.card{
   
    background-image: var(--primary);
    border: 1px;
    width: 100%;
    padding: 20px;
    position: relative;
    margin-top: 0px;
    
}
.card h1,h6{
    font-size: 30px;    
    color: var(--text-color);
   
}
small{
    margin-left: 10px;
}
 