<div class="outer">
    <app-navbar></app-navbar>
    <div class="container-fluid">
        <img src="assets/imagescontact.jpg" class="d-block w-100 shadowed-image" alt="Slide 1" style="height: 400px;">

        <div class="container">
            <!-- Get In Touch -->
            <div class="row">
                <div class="col mx-2 my-2 fw-bolder">
                    <h1>Get In Touch</h1>
                    <h3>Maduraa Serviced Apartment is one of the finest accommodation service providers with fully
                        furnished 2 & 3 BHK flats in Trichy targeting families, tourists & business communities since
                        2012.</h3>
                    <div>
                        <h3>
                            If you are looking for a hotel accommodation booking and that too at a very reasonable rate,
                            then you are at the right place.
                        </h3>
                    </div>
                    <div>
                        <a [href]="'https://www.facebook.com/people/Maduraa-Service-Apartments/100069674340814/' "
                            target="_blank"> <i class="fab fa-facebook-square"></i></a>
                        <a [href]="'https://twitter.com/maduraatrichy' " target="_blank"> <i
                                class="fab fa-twitter-square"></i></a>
                        <a [href]="'https://www.linkedin.com/in/maduraa-trichy-45550b141/' " target="_blank"> <i
                                class="fab fa-linkedin"></i></a>
                        <a [href]="'https://api.whatsapp.com' " target="_blank"> <i
                                class="fab fa-whatsapp-square"></i></a>
                        <!-- <a [href]="'http://example.org/?test=' ">whatsapp</a> -->
                        <!-- https://api.whatsapp.com/send?phone=+910000000000 -->
                    </div>
                </div>
                <!-- Contact Detail -->
                <div class="col mx-2 my-2">
                    <h1>Contact Detail</h1>
                    <div style="display: inline-flex; align-items: center;">
                        <!-- <i class="fas fa-map-marker-alt" style="margin-right: 8px;"></i> -->
                        <h2 style="margin: 0;">Address</h2>
                    </div>
                    <h4 class="mx-1 my-1">No.37, Bharathi Street, Thiruvanai Kovil,<br>
                        Trichy - 620005, Tamil Nadu, India</h4>
                    <div style="display: inline-flex; align-items: center;">
                        <!-- <i class="fas fa-phone-alt mb-1" style="margin-right: 8px;"></i> -->
                        <h2 class="mt-1 m-0">Phone</h2>
                    </div>
                    <h4 class="mx-1 my-1">(+91) 0431 4030469 , 223 0470<br>
                        (+91) 7373 82 6373</h4>
                    <div style="display: inline-flex; align-items: center;">
                        <!-- <i class="fa fa-envelope mb-2" style="margin-right: 8px;"></i> -->
                        <h2 class="mt-1">Email</h2>
                        <a class="mx-4 my-4 mt-2" href="mailto:support@maduraa.in">support@maduraa.in</a>
                    </div>
                </div>
            </div>
            <div class="row form-box-style">
                <!-- message -->
                <div class="col fw-bolder">
                    <div class=" col-sm-12 text-brown">
                        <h2 class="my-3 mx-2">Send Us A Message</h2>
                        <!-- <h4>Contact Us <br> Fields marked with an * are required</h4> -->
                        <form [formGroup]="contactForm" (ngSubmit)="contactFormProcess()">
                            <div class="form-group mx-2">
                                <label>Name<span class="text-danger mx-1">*</span></label>
                                <input formControlName="name" type="text" class="form-control">
                                <small
                                    *ngIf="contactForm.controls['name'].dirty && contactForm.hasError('required','name')"
                                    class="text-danger form-inline  mt-0">*Name is required</small>
                                <small
                                    *ngIf="contactForm.controls['name'].dirty && contactForm.hasError('pattern','name')"
                                    class="text-danger form-inline  mt-0">*Name is invalid</small>
                            </div>
                            <div class="form-group mx-2">
                                <label>Email<span class="text-danger mx-1">*</span></label>
                                <input formControlName="email" type="text" class="form-control">
                                <small
                                    *ngIf="contactForm.controls['email'].dirty && contactForm.hasError('required','email')"
                                    class="text-danger form-inline  mt-0">*Email is required</small>
                                <small
                                    *ngIf="contactForm.controls['email'].dirty && contactForm.hasError('pattern','email')"
                                    class="text-danger form-inline  mt-0">*email is invalid</small>
                            </div>
                            <div class="form-group mx-2">
                                <label>Phone</label>
                                <input formControlName="phonenumber" type="text" class="form-control">
                                <small
                                    *ngIf="contactForm.controls['phonenumber'].dirty && contactForm.hasError('required','phonenumber')"
                                    class="text-danger form-inline  mt-0">*Phonenumber is required</small>
                                <small
                                    *ngIf="contactForm.controls['phonenumber'].dirty && contactForm.hasError('pattern','phonenumber')"
                                    class="text-danger form-inline  mt-0">*Phonenumber is invalid</small>
                            </div>
                            <div class="form-group mx-2">
                                <label>City</label>
                                <input formControlName="city" type="text" class="form-control">
                                <small
                                    *ngIf="contactForm.controls['city'].dirty && contactForm.hasError('required','city')"
                                    class="text-danger form-inline  mt-0">*City is required</small>
                                <small
                                    *ngIf="contactForm.controls['city'].dirty && contactForm.hasError('pattern','city')"
                                    class="text-danger form-inline  mt-0">*City is invalid</small>
                            </div>
                            <div class="form-group mx-2">
                                <label>Message<span class="text-danger mx-1">* </span></label>
                                <textarea formControlName="message" class="form-control"></textarea>
                                <small
                                    *ngIf="contactForm.controls['message'].dirty && contactForm.hasError('required','message')"
                                    class="text-danger form-inline  mt-0">*Messsage is required</small>
                                <small
                                    *ngIf="contactForm.controls['message'].dirty && contactForm.hasError('pattern','message')"
                                    class="text-danger form-inline  mt-0">*Messsage is invalid</small>
                            </div>
                            <div class="text-center  my-3">
                                <button type="submit" class="btn btn-light btn-elevate mr-2 ">
                                    Submit</button>

                            </div>
                        </form>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    Want to place map
                </div>

            </div>
        </div>

    </div>
    <!-- footer -->
    <footer class=" text-white text-end py-1">
        <div class="container">
          <p class="text-black">&copy; Stashook Technologies Private Ltd</p>
          <!-- <p>
            <a href="/privacy-policy" class="text-black">Privacy Policy</a> | 
            <a href="/terms" class="text-white">Terms & Conditions</a>
          </p> -->
        </div>
      </footer>
</div>


