<div class="outer">
    <app-navbar></app-navbar>
    <div class="container mt-0">
        <img src="assets/hotelrooms1.jpg" style="width:100%;height:300px; ">
    </div>
</div>
<div>
    <div class="row">
        <div class="col-sm-6" style="margin-left: 5%;margin-top: 3%;font-weight: bold;">
            <h1>Get In Touch</h1>
            <h3>Maduraa Serviced Apartment is one of the finest accommodation service providers with fully furnished 2 & 3 BHK flats in Trichy targeting families, tourists & business communities since 2012.</h3>
            <div>
                <h3>
                    If you are looking for a hotel accommodation booking and that too at a very reasonable rate, then you are at the right place.
                </h3>
            </div>
            <div>
                <p>dfg</p>
                <i class="fa fa-facebook-square" style="font-size:20px;color:#964B00"></i>
                <!-- <i class="fa fa-twitter-square" style="font-size:20px;color:#964B00"></i>
                <i class="fa fa-linkedin-square" style="font-size:20px;color:#964B00"></i> -->
            </div>
           
    </div>
    <div style="margin-left: 5%;margin-top: 3%;font-weight: bold;">
        <h1>Contact Detail</h1>
    <div>
        <div class="row">
        <i style="font-size:25px;color:#964B00;margin-right: 5%;" class="fas fa-map-marker-alt" ></i>
        <h2>Address</h2>
        <h4 style="margin-left: 14%;">No.37, Bharathi Street, Thiruvanai Kovil,<br>
            Trichy - 620005, Tamil Nadu, India</h4>
    </div> 
    <div class="row">
        <i style="font-size:25px;color:#964B00;margin-right: 5%;" class="fas fa-phone" ></i>
        <h2>Phone</h2><br>        
        <h4 style="margin-left: 14%;">(+91) 0431 4030469 , 223 0470<br>
            (+91) 7373 82 6373</h4>         
    </div>
    <div class="row">
        <i style="font-size:25px;color:#964B00;margin-right: 5%;" class="fa fa-envelope" ></i>
        <h2>Email</h2><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
        <h4 style="margin-left: 14%;">support@maduraa.in
           </h4>         
    </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6" style="margin-left: 5%;color:#964B00;margin-top: 3%;font-weight: bold;background-color: #fce2a5;">
      <h2>Send Us A Message</h2>
      <h4>Contact Us <br> Fields marked with an * are required</h4>
      <form>
        <div class="form-group">
          <label >Name<span class="text-danger" style="margin-left: 3%;">*</span></label>
          <input type="text" class="form-control"  >
        </div>
        <div class="form-group">
          <label >Email<span class="text-danger" style="margin-left: 3%;">*</span></label>
          <input type="text" class="form-control" >
        </div>
        <div class="form-group">
            <label >Phone</label>
            <input type="text" class="form-control" >
          </div>
          <div class="form-group">
            <label >City</label>
            <input type="text" class="form-control" >
          </div>
          <div class="form-group">
            <label >Message<span class="text-danger" style="margin-left: 3%;">* </span></label>
            <textarea class="form-control"></textarea>
          </div>
          <div  class="text-center">
            <button  type="submit" class="btn btn-light btn-elevate mr-2 " >
                Submit</button>
              
           </div> 
      </form>
    </div>
</div>

</div>
