<div class="outer">
    <app-navbar></app-navbar>
    <div class="container mt-0">
        <img src="assets/hotelrooms1.jpg" style="width:100%;height:300px; ">
    </div>
</div>
<div>
    <div class="row">
        <div class="col-sm-6" style="margin-left: 5%;margin-top: 3%;font-weight: bold;">
            <h1>Get In Touch</h1>
            <h3>Maduraa Serviced Apartment is one of the finest accommodation service providers with fully furnished 2 & 3 BHK flats in Trichy targeting families, tourists & business communities since 2012.</h3>
            <div>
                <h3>
                    If you are looking for a hotel accommodation booking and that too at a very reasonable rate, then you are at the right place.
                </h3>
            </div>
            <div>
                <p>dfg</p>
                <i class="fa fa-facebook-square" style="font-size:20px;color:#964B00"></i>
                <!-- <i class="fa fa-twitter-square" style="font-size:20px;color:#964B00"></i>
                <i class="fa fa-linkedin-square" style="font-size:20px;color:#964B00"></i> -->
            </div>
            <div class="col-sm-6">
                <h1>Contact Detail</h1>
            </div>
    </div>
    

</div>

</div>
