<div class="outer">
  <app-header></app-header>
  <div class="container-fluid">
    <div class="row " >
      <div class="col   mx-1 mt-2 form-box-style">
        <!-- Column -->
        <h2 class="mt-3 text-brown">Select Room</h2>
        <!-- form -->
        <form [formGroup]="selectRoomForm" (ngSubmit)="roomCheckin()">
          <div class="form-group row">
            <label for="bookingid" class="col-sm-2 col-form-label">BookingId</label>
            <div class="col-sm-5">
              <input type="text" readonly class="form-control-plaintext" id="bookingid" value={{bookingid}}>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label for="inputPassword" class="col-sm-2 col-form-label">2BHK Rooms</label>
            <div class="col-sm-5">
              <ng-multiselect-dropdown [placeholder]="'Select 2BHK Rooms'" [data]="dropdownList" [(ngModel)]="bhk2"
                [settings]="dropdownSettings1" formControlName="bhk2">
              </ng-multiselect-dropdown>

            </div>
          </div>
          <div class="form-group row mt-2">
            <label for="inputPassword" class="col-sm-2 col-form-label">3BHK Rooms</label>
            <div class="col-sm-5">
              <ng-multiselect-dropdown [placeholder]="'Select 3BHK Rooms'" [data]="dropdownList1" [(ngModel)]="bhk3"
                [settings]="dropdownSettings2" formControlName="bhk3">
              </ng-multiselect-dropdown>
            </div>
          </div>
<!-- button -->
          <button [disabled]=selectRoomForm.invalid type="submit" class="btn btn-light  mr-2 mt-5 me-3 mb-5 text-brown">

            Submit</button>
          <button routerLink="/frontdesk" type="submit" class="btn btn-light mr-2  mt-5  mb-5 text-brown">
            Back</button>
        </form>

      </div>
      <div class="col mt-2 form-box-style" *ngIf="roomtypeid == 2?!isDisabled:isDisabled">
        <!-- Column -->
        <h2 class="mt-3 text-brown" >EB Reading</h2>
        <form [formGroup]="EBReadingForm" (ngSubmit)="EBReading()">
          <div class="form-group row">
            <label for="bookingid" class="col-sm-3 col-form-label">BookingId</label>
            <div class="col-sm-5">
              <input type="text" readonly class="form-control-plaintext" id="bookingid" value={{bookingid}}>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label for="openingdate" class="col-sm-3 col-form-label">OpeningDate</label>
            <div class="col-sm-5">
              <input type="text" readonly class="form-control-plaintext" id="openingdate" value={{TodayDate}}>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label for="openingunit" class="col-sm-3 col-form-label">OpeningUnit</label>
            <div class="col-sm-5">
              <input formControlName="openingunit" type="text" class="form-control">
            </div>
          </div>

          <button [disabled]=EBReadingForm.invalid type="submit"
            class="btn btn-light  mr-2 mt-5 me-3 mb-5 text-brown">
            Submit</button>
          <button routerLink="/frontdesk" type="submit" class="btn btn-light  mr-2 mt-5 me-3 mb-5 text-brown">
            Back</button>
        </form>
      </div>
    </div>
  </div>
  <!-- footer -->
  <footer class="  py-1 ">
    <!-- <div class="container">
      <p class="text-black"> Stashook Technologies Private Ltd</p>
      
    </div> -->
    <app-footer></app-footer>
  </footer>
  </div>