
<div class="outer">
    <app-navbar></app-navbar>
    <div class="container mt-0">
        <div class="row ">
            <div class="col-sm-6 mt-2">
                <h2 style="color:#964B00; font-weight:bold ;">Booking Summary </h2>
                <!-- <p> {{this.data}} </p>   
                <p> {{this.name}} </p>   
                {{this.days}}
                {{this.amount}} -->
            </div>
            <table>
                
            </table>
           
        </div>
    </div>
</div>

