<div class="outer">
    <app-navbar></app-navbar>
    <div class="container mt-0">
        <div class="row ">
            <div class="col-sm-6 mt-2">
                <h2 style="color:#964B00; font-weight:bold ;">Booking Summary</h2>
            </div>
        </div>

        <div class="containertable table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                       
                        <th style="border-color: #964B00;" scope="col">Description</th>
                        <th style="border-color: #964B00;" scope="col">Value</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle " style="border-color: #964B00;">Your Checkin Date</td>
                        <td class="align-middle " style="border-color: #964B00;">{{bookingData.checkin | date:'dd-MM-yyyy HH:mm a'}}</td>
                    </tr>
                    <tr>
                        <td class="align-middle " style="border-color: #964B00;">Your Checkout Date</td>
                        <td class="align-middle " style="border-color: #964B00;">{{bookingData.checkout | date:'dd-MM-yyyy HH:mm a'}}</td>
                    </tr>
                    <tr>
                        <td class="align-middle " style="border-color: #964B00;">Number of Days</td>
                        <td class="align-middle " style="border-color: #964B00;">{{bookingData.noofdays}}</td>
                    </tr>
                    <tr>
                        <td class="align-middle " style="border-color: #964B00;">Adults Count</td>
                        <td class="align-middle " style="border-color: #964B00;">{{bookingData.adults}}</td>
                    </tr>
                    <tr>
                        <td class="align-middle " style="border-color: #964B00;">Child Count</td>
                        <td class="align-middle " style="border-color: #964B00;">{{bookingData.child}}</td>
                    </tr>
                    <tr>
                        <td class="align-middle " style="border-color: #964B00;">Total no of Rooms {{bookingData.bhk2count}} and {{bookingData.bhk3count}}
                        </td>
                        <td class="align-middle " style="border-color: #964B00;">Rs.{{bookingData.totalamount}}</td>
                    </tr>
                    <tr>
                        <td class="align-middle " style="border-color: #964B00;">Extra Bed Count</td>
                        <td class="align-middle " style="border-color: #964B00;">{{bookingData.extrabed}}</td>
                    </tr>
                    <tr>
                        <td class="align-middle " style="border-color: #964B00;">Extra Bed Amount</td>
                        <td class="align-middle " style="border-color: #964B00;">{{bookingData.totalbedamount}}</td>
                    </tr>
                    <tr>
                        <td class="align-middle " style="border-color: #964B00;">Discount</td>
                        <td class="align-middle " style="border-color: #964B00;">{{bookingData.discount}}</td>
                    </tr>
                    <tr>
                        <td class="align-middle " style="border-color: #964B00;">Maintenance</td>
                        <td class="align-middle " style="border-color: #964B00;">{{bookingData.maintenance}}</td>
                    </tr>
                     <tr>
                        <td class="align-middle " style="border-color: #964B00;">Total Amount</td>
                        <td class="align-middle " style="border-color: #964B00;">{{bookingData.totalamount}}</td>
                    </tr> 
                    <tr>
                        <td class="align-middle " style="border-color: #964B00;">Tax</td>
                        <td class="align-middle " style="border-color: #964B00;">{{bookingData.tax}}</td>
                    </tr>
                    <tr>
                        <td style="border-color: #964B00;" scope="col">Invoice</td>
                        <td style="border-color: #964B00;" scope="col">Rs.{{totalwithalladded}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <button (click)="confirmBooking()" type="submit" class="btn btn-outline "
                    style="color:#964B00 ;background-color: #efc96a;border-radius: 15px; font-weight: bold;" >Click to make
                    Payment</button>
            </div>
        </div>
    </div>
</div>