


//css for container
.container {
    background-color: #ffff;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.08)0px 1px 8px;
    border-radius: 4px;
    background-image: var(--primary)
}


// css for welcome to maduraservices
#text {
    color: var(--text-color);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: Georgia, serif;

}

.btn {
    color: var(--text-color);
    background-color: var(--secondary);
    font-family: Georgia, serif;
    font-weight: bold;

}

//css for user icon
#icon {
    background-image: var(--primary);
}


.btn:hover {
    color: var(--hover);
    transform: scale(1.00);
    /* Slight zoom effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Add shadow */
    transition: all 0.3s ease-in-out;
}



span {
    color: var(--text-color);
    font-size: 14px;
    font-weight: bold;
}

marquee {
    color: var(--text-color);
    font-size: 16px;

}


a{
    color: var(--text-color);
}
