<!-- <div class="outer"> -->
  <div class="container-fluid  " >
    <!-- <div class="card"> -->
    <!-- Top Row: Logo, Marquee, and Helpline -->
  <div class="row align-items-center justify-content-between">
    <!-- Logo Section -->
    <div class="col-lg-3 col-md-3 col-12 text-center text-md-left mb-2 mt-1 mb-md-0">
      <img src="assets/index_logo.jpg" class="img-fluid mt-1" alt="Logo" style="max-height: 100px;">
    </div>

    <!-- Marquee Section -->
    <div class="col-lg-7 col-md-6 col-12 text-center mb-2 mb-md-0">
      <marquee behavior="scroll" direction="left">
        Welcome to Maduraa Services
      </marquee>
    </div>

    <!-- Helpline Section -->
    <div class="col-lg-2 col-md-3 col-12 text-md-right text-end mb-2 mb-md-0 mr-1">
      <span >
        <!-- 24/7 HelpLine<br>
        <i class="fas fa-phone-alt"></i> +91 73738 26373 -->
        {{ username }}
      </span>
      <!-- Login/Signup/Logout Buttons -->
      <div class="mt-2 ">
        <button *ngIf="!authService.logged()" routerLink="/adminlogin" class="btn  btn-sm mx-1">Login</button>

        <button *ngIf="authService.logged()" (click)="logout()" class="btn  btn-sm mx-1">Logout</button>
      </div>
    </div>
  </div>

<!-- Navigation Section -->
    <nav class="navbar navbar-expand-lg navbar-light ">
       <!-- Toggler Button for Mobile View -->
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<!-- Navbar Links -->
      <div class="collapse navbar-collapse  " id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item  mx-1">
              <a class="btn btn-sm" routerLink="/manageflats" >ManageFlat</a>
          </li>
          <li class="nav-item mx-0">
            <div class="nav-item dropdown  ">
              <a class="btn btn-sm " href="#" id="navbarDropdown" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Bookings <i  class="fa fa-bars"></i></a>

              <div class="dropdown-menu " aria-labelledby="navbarDropdown" id="icon">
                <a class="dropdown-item" href="#" routerLink="/walkingcurrent" >Walk in Current</a>
                <a class="dropdown-item" href="#" routerLink="/walkingfuture">Walk in Future</a>
                <a class="dropdown-item" href="#" routerLink="/frontdesk">Guest Status</a>
                <a class="dropdown-item" href="#" routerLink="/canceledbookingfoe">Cancel Booking</a>
              </div>
            </div>
          </li>
          <li class="nav-item mx-1">
            <a class="btn btn-sm " href="#"  routerLink="/frontdesk">Reports</a>
          </li>
          <li class="nav-item mx-0">
            <a class="btn btn-sm " href="#"  routerLink="/role">Role</a>
          </li>
          <li class="nav-item mx-1">
            <a class="btn btn-sm " href="#"  routerLink="/frontdesk">Users</a>
          </li>
          <li class="nav-item mx-0">
            <a class="btn btn-sm " href="#"  routerLink="/tariff">Tarriff</a>
          </li>
          <li class="nav-item mx-1">
            <a class="btn btn-sm " href="#"  routerLink="/frontdesk">Tax</a>
          </li>
          <li class="nav-item mx-0">
            <a class="btn btn-sm " href="#"  routerLink="/frontdesk">Services</a>
          </li>
          <li class="nav-item mx-1">
            <a class="btn btn-sm " href="#"  routerLink="/frontdesk">Gallery</a>
          </li>
          <li class="nav-item mx-0">
            <a class="btn btn-sm " href="#"  routerLink="/frontdesk">Travel</a>
          </li>
          <li class="nav-item mx-1">
            <a class="btn btn-sm " href="#"  routerLink="/frontdesk">Food</a>
          </li>
          <li class="nav-item mx-0">
            <a class="btn btn-sm " href="#"  routerLink="/frontdesk">Coupons</a>
          </li>
          <li class="nav-item mx-1">
            <a class="btn btn-sm " href="#"  routerLink="/frontdesk">NewsLetter</a>
          </li>
          <li class="nav-item mx-0">
            <a class="btn btn-sm " href="#"  routerLink="/frontdesk">Banner</a>
          </li>
          <li class="nav-item mx-1">
            <a class="btn btn-sm " href="#"  routerLink="/frontdesk">Reminder</a>
          </li>

          <li class="nav-item mx-0">
            <a class="btn btn-sm " href="#"  routerLink="/addadult">AddAdult</a>
          </li>

          <!-- <li class="nav-item active">
           <button class="btn btn-outline my-2 my-sm-0 mr-sm-2" id="btn" type="submit" >CONTACT US</button>
            <a (click)="logout()" class="nav-link " href="#" style="color:#964B00">Logout</a>
          </li> -->

        </ul>

      </div>
    </nav>


    <!-- </div> -->
    <!-- <div class="row" >
    <div class="col-sm-6" >

        <img src="assets/01.jpg" style= "width:550px;height:400px; ">

    </div>
    <div class="col-sm-6" >

            <h1 style="color:#964B00"> Check Availability</h1>

    </div>
    </div>
    <div class="Footer">
    <div class="card">

    </div>
    </div> -->
  </div>

<!-- </div> -->
