.outer{
    // height:100vh;
     background-image: var(--primary);
     min-height: 100vh; 
    
   
}
.container-fluid{
    background-image:var(--primary);
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    background-color: var(--primary);
    text-align: center;
}


.text-brown{
    font-weight: bold;
    font-family: Georgia, serif;
    color: var(--text-color);
    font-size: 30px;

}

h3,span{
    color:var(--text-color);
}
.btn{
color:var(--text-color); background-color:var(--secondary);
}
.btn:hover {
    color: var(--hover);
    transform: scale(1.05);
    /* Slight zoom effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow */
    transition: all 0.3s ease-in-out;
}


.form-box-style{
    background-image: var(--panel);
    border-radius: 10px; /* Slight rounded corners */
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.2)); /* Soft shadow */
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    object-fit: cover;  
}
.Resendotp {
    text-align: right;
  }
  
  .Resendotp button {
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 5px;
  }