<div class="outer">
  <app-navbar></app-navbar>

  <div class="container-fluid ">
    <div class="row ">

      <!-- Carousel Section -->
      <div class="col-lg-6 col-md-12 mb-1 mt-0 form-box-style">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/01.jpg" class="d-block w-100 shadowed-image" alt="Slide 1" style="height: 400px;">
            </div>
            <div class="carousel-item">
              <img src="assets/hotelrooms1.jpg" class="d-block w-100 shadowed-image" alt="Slide 2" style="height: 400px;">
            </div>
            <div class="carousel-item">
              <img src="assets/hotelrooms2.jpg" class="d-block w-100 shadowed-image" alt="Slide 3" style="height: 400px;">
            </div>
            <div class="carousel-item">
              <img src="assets/02.jpg" class="d-block w-100 shadowed-image" alt="Slide 4" style="height: 400px;">
            </div>
            <div class="carousel-item">
              <img src="assets/03.jpg" class="d-block w-100 shadowed-image" alt="Slide 5" style="height: 400px;">
            </div>
            <div class="carousel-item">
              <img src="assets/04.jpg" class="d-block w-100 shadowed-image" alt="Slide 6" style="height: 400px;">
            </div>
          </div>
        </div>
      </div>

      <!-- Form Section -->
      <div class="col-lg-6 col-md-12 mb-1 mt-0 my-2  mr-2 form-box-style  ">
        <h3 class="text-brown mt-5">Check Availability</h3>

        <form [formGroup]="homeForm" (ngSubmit)="checkAvailability()" class="p-3   ">

          <!-- Check-In and Check-Out Row -->
          <div class="row mb-3 ">
            <!-- Check-In -->
            <div class="col-md-6">
              <label for="checkIn" class="text-brown font-weight-bold">Check-In</label>
              <div class="d-flex gap-2">
                <input formControlName="checkIn" type="date" class="form-control form-style" [(ngModel)]="Todaydate"
                  [min]="minDate" (change)="getCheckOut()">
                <select formControlName="checkInTime" class="form-control form-style"  [(ngModel)]="selectedTime">
                  <option id="option-style" *ngFor="let time of times" [value]="time">{{ time }}</option>
                </select>
              </div>
            </div>

            <!-- Check-Out -->
            <div class="col-md-6">
              <label for="checkOut" class="text-brown font-weight-bold">Check-Out</label>
              <div class="d-flex gap-2">
                <input formControlName="checkOut" type="date" class="form-control" [(ngModel)]="outDate"
                  [min]="outDate">
                <select formControlName="checkOutTime" class="form-control"  [(ngModel)]="selectedTime">
                  <option *ngFor="let timess of times" [value]="timess">{{ timess }}</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Adults and Children -->
          <div class="row mb-3">
            <!-- Adults -->
            <div class="col-md-6">
              <label class="text-brown font-weight-bold">Adult</label>
              <input formControlName="adult" type="number" class="form-control" value="1" min="1">
              <small *ngIf="homeForm.controls['adult'].dirty && homeForm.hasError('required','adult')"
                class="text-danger">*Required</small>
            </div>

            <!-- Children -->
            <div class="col-md-6">
              <label class="text-brown font-weight-bold">Child (0-9 Years)</label>
              <input formControlName="child" type="number" class="form-control" min="0" max="6"
                (change)="ValueEntered(childVal.value)" #childVal>
            </div>
          </div>

          <!-- Room Type and Submit -->
          <div class="row">
            <!-- Room Type -->
            <div class="col-md-6">
              <label class="text-brown font-weight-bold">Room Type</label>
              <select formControlName="roomType" class="form-control">
                <option value="0">--Select--</option>
                <option *ngFor="let type of visibleRoom" [value]="type.roomtypeid"
                  [disabled]="type.roomtypeid == 2 ? !isDisabled : isDisabled">
                  {{ type.roomcategory }}
                </option>
              </select>
            </div>

            <!-- Submit Button -->
            <div class="col-md-6 d-flex align-items-end">
              <button [disabled]="homeForm.invalid" type="submit" class="btn w-100" data-bs-toggle="modal" data-bs-target="#exampleModal" >Check
                Availability</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <!-- footer section -->
  <footer class="  py-1">
  
    <app-footer></app-footer>
  </footer>
</div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
          <!-- <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        This is the modal content.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn"(click)="navigateTo('login')" >Login</button>
        <button type="button" class="btn" (click)="navigateTo('signup')"  >Signup</button>
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>