.outer{
    // height:100vh;
     background-image: var(--primary);
//      min-height: 100vh; 
}
.container-fluid{
    background-color:var(--primary);
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    background-color: var(--primary);
    
}


.text-brown{
    font-weight: bold;
    font-family: Georgia, serif;
    color: var(--text-color);
}
.shadowed-image {
    border-radius: 10px; /* Slight rounded corners */
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.2)); /* Soft shadow */
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    object-fit: cover;  
}

.form-box-style{
    background-image: var(--panel);
    border-radius: 10px; /* Slight rounded corners */
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.2)); /* Soft shadow */
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    object-fit: cover;  
}
// .form-style:active,.form-style:focus{
//     outline: none;
//     box-shadow: 0 0 5px 2px var(--hover); /* Brown shadow */
//     border: 1px solid var(--hover); /* Brown border */}


.btn {
    color: var(--text-color);
    background-color: var(--secondary);
    font-family: Georgia, serif;
    font-weight: bold;

}
.btn:hover {
    color: var(--hover);
    transform: scale(1.05);
    /* Slight zoom effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow */
    transition: all 0.3s ease-in-out;
}



.adultinput{
    width:150px;
}
.childinput{
    width: 150px;
}
.modal-content{
    background-image: linear-gradient(45deg, #efc96a,white);  
   
}
.Swal.fire{
    // icon: 'success';
    background: red,
  }
  
  #timestyle {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ac5050;
    border-radius: 4px;
    transition: all 0.3s ease;
    outline: none;
    background-color: #f9f9f9;
  }

  h3,h5{
    font-weight: bold;
    font-family: Georgia, serif;
  }
h3{
    text-align: center;
}
