<div class="outer">

  <app-navbar></app-navbar>
  <div class="container mt-0">
    <div class="row ">
      <div class="col-sm-6 mt-0">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="assets/01.jpg" style="width:550px;height:400px; ">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/hotelrooms1.jpg" style="width:550px;height:400px; ">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/hotelrooms2.jpg" style="width:550px;height:400px; ">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/02.jpg" style="width:550px;height:400px; ">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/03.jpg" style="width:550px;height:400px; ">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/04.jpg" style="width:550px;height:400px; ">
            </div>
          </div>
        </div>


        <!-- <img src="assets/01.jpg" style= "width:550px;height:400px; "> -->

      </div>
      <div class="col-sm-6">
        <h3 style="color:#964B00">Check Availability</h3> 
        <div class="panel-body p-0">
          <form [formGroup]="homeForm" (ngSubmit)="checkAvailability()">
            <div class="form-group pt-0 row justify-content-around">
              <div class="col-lg-6">
                <h5 style="color:#964B00">Check-In</h5>
                <div class="row">
                  <div class="col-lg-6">
                    <input formControlName="checkIn" type="datetime-local">
                  </div>
                  <!-- <div class="col-lg-6">
                    <input formControlName="checkInTime" type="time">
                  </div> -->
                </div>
              </div>
              
             <div class="col-lg-6">
              <h5 style="color:#964B00">Check-Out</h5>
              <div class="row">
                <div class="col-lg-6">
                  <input formControlName="checkOut" type="datetime-local">
                </div>
                <!-- <div class="col-lg-6">
                  <input formControlName="checkOutTime" type="time">
                </div> -->
              </div>
            </div>
             
          </div>
          <div class="form-group pt-0 row justify-content-around">
            <div class="col-lg-6">
              <h5 style="color:#964B00">Adult</h5>
              <div class="row">
                <div class="col-lg-6">
                  <input formControlName="adult" class="adultInput" type="number">
                </div>
                
              </div>
            </div>
            
           <div class="col-lg-6">
            <h5 style="color:#964B00">Child</h5>
            <div class="row">
              <div class="col-lg-6">
                <input formControlName="child" class="childInput" type="number">
              </div>              
            </div>
          </div>
           
        </div>
        <div class="form-group pt-0 row justify-content-around">
          <div class="col-lg-6">
            <h5 style="color:#964B00">RoomType</h5>
            <div class="row">
              <div class="col-lg-6">
                <select formControlName="roomType">
                  <option value="1">Service Apartment</option>
                  <option value="2">Rooms</option>
                </select>
              </div>
              
            </div>
          </div>
          
         <div class="col-lg-6">
          <h5 style="color:#964B00 ">Check Availability</h5>
          <div class="row">
            <div class="col-lg-6">
              <button type="submit" class="btn btn-outline " data-toggle="modal"
                          data-target="#exampleModalCenter"
                          style="color:#964B00 ;background-color: #efc96a;border-radius: 15px;">Check Availability </button>
                          <!-- <form [formGroup]="modalForm" (ngSubmit)="modalProcess()" >
                           
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle" style="color: #964B00;">Availability</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                      style="color: #964B00;">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="form-check form-check-inline">
                                      <input formControlName="user" class="form-check-input" type="radio" name="user"
                                        id="inlineRadio1" value="NewUser">
                                      <label class="form-check-label" for="inlineRadio1" style="color: #964B00;">NewUser</label>
                                    </div>&nbsp;&nbsp;&nbsp;
                                    <div class="form-check form-check-inline">
                                      <input formControlName="user" class="form-check-input" type="radio" name="user"
                                        id="inlineRadio2" value="ExistingUser">
                                      <label class="form-check-label" for="inlineRadio2"
                                        style="color: #964B00;">ExistingUser</label>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                   
                                    <button type="submit" class="btn btn-outLine"
                                      style="color: #964B00;background-color: #efc96a;">Continue</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form> -->
            </div>              
          </div>
        </div>
               </div>      
          </form>
          <!--show hide div-->
         
        </div>
      </div>
    </div>
    
    <!-- <div class="Footer" >
              <div class="card">
                  
              </div>
              </div> 
   -->
  </div>
</div>