<div class="outer">
    <app-navbar></app-navbar>
    <div class="container mt-0"> 
        <div class="row " >
            <div class="col-sm-6 mt-0" >
             
                <img src="assets/01.jpg" style= "width:550px;height:400px; ">
            
            </div>
            <div class="col-sm-6" >
                
                    <!-- <h1 style="color:#964B00"> Check Availability</h1> -->
                    <div class="row">                        
                        <div >
                          <h3 style="color:#964B00">Check Availability</h3>
                          <div class="row">
                            <div class="col-lg-6">
                              <h6 style="color:#964B00">Check-In</h6>
                              <div class="row">
                                <div class="col-lg-6">
                                  <input type="date">
                                </div>
                                <div class="col-lg-6">
                                 <input type="time">
                                </div>
                              </div>
                              <br>
                               <div class="row">
                                <div class="col-lg-6" >
                                  <h6 style="color:#964B00">Adult</h6>
                                   <!-- <label style="color:#964B00">Adult</label>  -->
                                 
                                <div class="row">
                                  <div class="col-lg-6  pb-3" >
                                    <input class="adultinput" type="number">
                                   </div>
                                </div>
                              </div>
                              </div>
                            </div> 
                           <div class="col-lg-6">
                              <h6 style="color:#964B00">Check-Out</h6>
                              <div class="row">
                                <div class="col-lg-6">
                                  <input type="date">
                                </div>
                                <div class="col-lg-6">
                                  <input type="time">
                                </div>
                              </div>
                              <br>
                              <div class="row">
                                <div class="col-lg-6">
                                  <h6 style="color:#964B00">Child</h6>
                                  <!-- <label style="color:#964B00">Child</label> -->
                               
                                <div class="row">
                                  <div class="col-lg-6  pb-0" >
                                  <input  class="childinput" type="number">
                                </div>
                                </div>
                              </div>
                              </div>
                            </div>
                          </div>
                          <br>
                          <div class="row pt-0 mt-0">
                            <div class="col-md-6 pt-0 ">
                              <h6 style="color:#964B00"class="pt-0">RoomType</h6>
                           
                            <div class="col-md-6 p-0">
                              <select>
                                <option value="1">Service Apartment</option>
                                <option value="2">Rooms</option>
                              </select>
                            </div>
                          </div>
                            <div class="col-lg-5 ml-0">
                                <button type="submit" class="btn btn-outline btn-block  w-100 pt-2" style="color:#964B00 ;background-color: #efc96a;border-radius: 15px;">Check</button>
                            </div>
                            </div>
                          </div>
                        </div>
                
            </div>
            </div>
            <!-- <div class="Footer" >
                <div class="card">
                    
                </div>
                </div> 
     -->
    </div>
</div>

