.outer{
    // height:100vh;
     background-image: var(--primary);
     height: 100%
}

.text-brown{
    font-weight: bold;
    font-family: Georgia, serif;
    color: var(--text-color);
    font-size: 30px;

}


.container-fluid{
    background-color:var(--primary);
    border-radius: 0.3rem;
    // box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    background-color: var(--primary);
}




#forget {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}



.btn {
    margin-top: 20px;
    border-radius: 15px;
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #efc96a
}

.input-field.error {
    border: 1px solod red;
    color: red;
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
}

img {
    width: 130px;
    height: 40px;
    object-fit: cover;
    // border-radius:10%;
    position: relative
}

a {
    color: #964B00;
    // font-weight: bold ;
    // font-size: medium;

}

a:hover {
    color: #f47a08
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    color: #f47a08;
}

// .border{
//     border-top: 1px solid #aaa;
//     position: relative;
// }
// .bordert:after{
//     content:"or connect with";
//     position:absolute;
//      top:-13px;
//     left:33%;
//     background-color: #fff;
//     padding:0 8px;
// }

.form-box-style{
    background-image: var(--panel);
    border-radius: 10px; /* Slight rounded corners */
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.2)); /* Soft shadow */
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    object-fit: cover;  
}


