<div class="outer">
    <div class="container-fluid">
        <div class="row justify-content-center p-4">
            <div class="col-12 text-center mb-4">
                <img src="assets/index_logo.jpg" style="width: 350px; height: 100px;">
                <span id="text" class="d-block mt-4 text-brown">Welcome to Maduraa Services</span>
            </div>
        </div>

        <div class="container d-flex justify-content-center align-items-center ">
            <div class="card " style="width: 100%; max-width: 600px;">
                <div class="card-header text-center form-box-style ">
                    <h3 class="text-brown mt-2">Login</h3>
                
                <div class="card-body  ">
                    <form [formGroup]="loginForm" (ngSubmit)="loginProcess()">
                        <!-- Username Field -->
                        <div class="form-group mb-3">

                            <div class="input-group flex-nowrap">
                                <span class="input-group-text " id="addon-wrapping"><i class="fas fa-user"></i></span>
                                <input type="text" formControlName="username" class="form-control"
                                    placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                                    
                            </div>
                            <small
                            *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')"
                            class="text-danger mt-1 text-start d-block">
                            *Username is required
                        </small>
                        <!-- <small
                            *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('pattern','username')"
                            class="text-danger mt-1 text-start d-block ">
                            *Username is invalid
                        </small> -->
                        </div>

                        <!-- Password Field -->
                        <div class="form-group mb-3">
                             <!-- Lock Icon -->
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text " id="addon-wrapping"><i class="fas fa-lock"></i></span>
                                <!-- Password Input Field -->
                                <input type="password" formControlName="password" class="form-control"
                                    placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping" >
                                      <!-- Eye Icon for Toggling -->
                                    <!-- <div class="input-group-append">
                                       
                                        <span (click)="hideShowPass()" class="fa {{eyeIcon}}  " class="input-group-text"></span>
                                      </div>
                                     -->
                            </div>
                            <small
                                    *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"
                                    class="text-danger mt-1 text-start d-block">
                                    *Password is required
                                </small>
                                <!-- <small
                                    *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('pattern','username')"
                                    class="text-danger mt-1 d-block">
                                    *Password is incorr
                                </small> -->
                        </div>


                        <!-- <div class="form-group mt-3">
                                <div class="input-field position-relative">
                                    <span class="fa fa-lock position-absolute"
                                        style="color: #964B00; left: 10px; top: 50%; transform: translateY(-50%);"></span>
                                    <input formControlName="password" [type]="type" class="form-control pl-5"
                                        placeholder="Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}} position-absolute"
                                        style="color: #964B00; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></span>
                                </div>
                                <small
                                    *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"
                                    class="text-danger mt-1 d-block">
                                    *password is required
                                </small>
                                <small
                                    *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('pattern','password')"
                                    class="text-danger mt-1 d-block">
                                    *password is invalid
                                </small>
                            </div> -->

                        <!-- Forgot Password -->
                        <div class="d-flex justify-content-end mt-4 ">
                            <a  href="\forgotpassword" id="forgot" style="color: #964B00;">Forgot Password?</a>
                        </div>

                        <!-- Login Button -->
                        <div class="d-flex justify-content-center align-items-center mt-2">
                            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-block"
                                    style="color: #964B00; background-color: #efc96a;">
                                Login
                            </button>
                        </div>

                        <!-- Signup Link -->
                        <div class="text-center pt-4 text-muted">
                            Don't have an account?
                            <a id="forgot" class="pointer" (click)="signup()" style="color: #964B00;">Sign up</a>
                        </div>
                
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
</div>