// .outer {
//     // height:100vh;
//     background-image: var(--primary);
//     // height: 100%
// }

.text-brown {
    font-weight: bold;
    font-family: Georgia, serif;
    color: var(--text-color);

}
.input-group {
    color: var(--text-color);
}

.container-fluid {
    background-image: var(--primary);
    border-radius: 0.3rem;
    // box-shadow: rgba(0,0,0,0.08)0px 1px 8px;
    border-radius: 4px;
    background-color: var(--primary);
}

.btn {
    // margin-top: 20px;
    // border-radius: 15px;
    color: var(--text-color);
    background-color: var(--secondary);
}

.btn:hover {
    color: var(--hover);
    transform: scale(1.05);
    /* Slight zoom effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow */
    transition: all 0.3s ease-in-out;
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #efc96a
}

.input-field.error {
    border: 1px solod red;
    color: red;
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    color: var(--text-color);
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
}

.pointer {
    cursor: pointer;
    color: var(--text-color)
}

.pointer:hover {
    color: var(--hover)
}



.form-box-style {
    background-image: var(--panel);
    border-radius: 10px;
    /* Slight rounded corners */
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.2));
    /* Soft shadow */
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    object-fit: cover;
}

.input-group-append .fa {
    margin-left: 8px;
    /* Adjust the value for more or less space */
}