<div class="outer">

    <app-navbar></app-navbar>
    <div class="container mt-0">
      <div class="row ">
<div class="col-sm-6 mt-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/01.jpg" style="width:550px;height:400px; ">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/hotelrooms1.jpg" style="width:550px;height:400px; ">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/hotelrooms2.jpg" style="width:550px;height:400px; ">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/02.jpg" style="width:550px;height:400px; ">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/03.jpg" style="width:550px;height:400px; ">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/04.jpg" style="width:550px;height:400px; ">
        </div>
      </div>
    </div>


    <!-- <img src="assets/01.jpg" style= "width:550px;height:400px; "> -->

  </div>
<div class="col-sm-6 mt-0">
    <h2>Traiff</h2>
  <h3>
    We have 12 well-appointed apartments, including two elegant for those who want to experience the ultimate in luxury. All our rooms are equipped with attached baths and round the clock hot and cold water also have direct dialing telephones, attached cable and satellite television, a refrigerator, with soft drink, the spacious rooms also open to broad balconies offering spectacular views of the city.
The tariffs of our apartments are as under:<br>

<h2>Single Occupancy Tariff </h2>
Rs. + 10% Luxury Tax.<br>
<h2>Double Occupancy Tariff</h2>
Rs. + 19.92% Taxes(Luxury 12.5% + Service 7.42%)<br>
<h2>2BHK</h2>
Rs. 2799 + 19.92% Taxes(Luxury 12.5% + Service 7.42%)	(Regular)

  </h3>
</div>
  </div>
  </div>
  </div>