<div class="outer">
    <app-navbar></app-navbar>
    <div class="container mt-0 ">
        <div class="row ">
            <div class="col-sm-12 mt-0">
                <img src="assets/athur-mariyama-_places-to-visit-in-trichy.jpg" style="width:100%;height:300px; ">
            </div>
        </div>
        <div>
            <h1 style="color:#964B00;text-align: center;margin-top: 3%;font-weight: bold;"> Thiruvanai Kovil</h1>
        </div>
        <div>
            <!-- <div class="container mt-0 " style="background-color:#efc96a;;"> -->
            <div class="row">
                <div class="col-sm-4">
                    <img src="assets/temple1.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple2.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple3.jpg" style="width:100%;height:100%; ">
                </div>
            </div>
            <div>
                <h1 style="color:#964B00;text-align: center;margin-top: 3%;font-weight: bold;"> Srirangam Kovil</h1>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="assets/temple4.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple5.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple6.jpg" style="width:100%;height:100%; ">
                </div>
            </div>
            <div>
                <h1 style="color:#964B00;text-align: center;margin-top: 3%;font-weight: bold;">RockFort</h1>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="assets/temple10.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple11.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple12.jpg" style="width:100%;height:100%; ">
                </div>
            </div>
            <div>
                <h1 style="color:#964B00;text-align: center;margin-top: 3%;font-weight: bold;">Utharmar Kovil</h1>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="assets/temple13.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple14.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple15.jpg" style="width:100%;height:100%; ">
                </div>
            </div>
            <div>
                <h1 style="color:#964B00;text-align: center;margin-top: 3%;font-weight: bold;">GARPAGARAKSHAMBIGAI -
                    THIRUKARUGAVUR</h1>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="assets/temple16.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple17.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple18.jpg" style="width:100%;height:100%; ">
                </div>
            </div>
            <div>
                <h1 style="color:#964B00;text-align: center;margin-top: 3%;font-weight: bold;">Gunaseelam</h1>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="assets/temple19.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple20.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple21.jpg" style="width:100%;height:100%; ">
                </div>
            </div>
            <div>
                <h1 style="color:#964B00;text-align: center;margin-top: 3%;font-weight: bold;">BRAHMA-THIRUPATTUR</h1>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="assets/temple22.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple23.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple24.jpg" style="width:100%;height:100%; ">
                </div>
            </div>
            <div>
                <h1 style="color:#964B00;text-align: center;margin-top: 3%;font-weight: bold;">Tanjore</h1>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="assets/temple25.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple26.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4">
                    <img src="assets/temple27.jpg" style="width:100%;height:100%; ">
                </div>
            </div>
            <div >
                <h1 style="color:#964B00;text-align: center;margin-top: 3%;font-weight: bold;">Church</h1>
            </div>
            <div class="row" >
                <div class="col-sm-4 "style="margin-bottom: 50px;" >
                    <img src="assets/temple28.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4" style="margin-bottom: 50px;">
                    <img src="assets/temple29.jpg" style="width:100%;height:100%; ">
                </div>
                <div class="col-sm-4" style="margin-bottom: 50px;">
                    <img src="assets/temple30.jpg" style="width:100%;height:100%; ">
                </div>
            </div>

        </div>
        <!-- </div> -->
    </div>
</div>